<!--footer Start Here-->
      <footer class="">
         <div class="footer-top-area">
            <div class="container">
               <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="quick-links clearfix">
                        <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs visible-md visible-sm visible-lg">
                           <div class="quick-link-list">
                              <ul class="list-unstyled">
                                 <li><a href="https://www.travelkhana.com/travelkhana/jsp/about.jsp"><i class="material-icons">info_outline</i> About Us</a></li>
                                 <li><a href="https://www.travelkhana.com/travelkhana/jsp/career.jsp"><i class="material-icons">work</i> Careers</a></li>
                                 <li><a href="http://www.travelkhana.com/blog"><i class="material-icons">border_color</i> Blog</a></li>
                                 <li><a href="http://www.travelkhana.com/travelkhana/jsp/restaurant.jsp"><i class="material-icons">card_membership</i> Become a Partner</a></li>
                                 <li><a href="https://www.travelkhana.com/travelkhana/jsp/groupBooking.jsp"><i class="material-icons">group</i> Group Travel</a></li>
                                 <li><a href="https://www.travelkhana.com/travelkhana/jsp/contact.jsp"><i class="material-icons">pin_drop</i> Contact Us</a></li>
                                 <li><a href="https://www.travelkhana.com/travelkhana/jsp/sitemap.jsp"><i class="material-icons">device_hub</i> Site Map</a></li>
                                 <li><a href="https://www.travelkhana.com/travelkhana/jsp/faq.jsp"><i class="material-icons">border_color</i>FAQ for Customers</a></li>
                                 <li><a href="https://www.travelkhana.com/travelkhana/jsp/faq_foodPlaza.jsp"><i class="material-icons">border_color</i>FAQ for Restaurant Partners</a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 hidden-xs visible-md visible-sm visible-lg">
                           <div class="quick-link-list">
                              <ul class="list-unstyled">
                                 <!-- <li><a href="#"><i class="material-icons">restaurant</i> Services</a></li> -->
                                 <li><a href="https://www.travelkhana.com"><i class="material-icons">shopping_cart</i> Order Food</a></li>
                                 <!-- <li><a href="#"><i class="material-icons">my_location</i> Track Order</a></li> -->
                                 <li><a href="https://www.travelkhana.com/travelkhana/jsp/popularTrainList.jsp"><i class="material-icons">info_outline</i> Food in Popular Trains</a></li>
                                 <li><a href="https://www.travelkhana.com/travelkhana/track-train"><i class="material-icons">tram</i> Track Train</a></li>
                                 <li><a href="https://www.travelkhana.com/travelkhana/indian-railways-reservation"><i class="material-icons">verified_user</i> Indian Railways Reservation</a></li>
                                 <li><a href="https://www.travelkhana.com/travelkhana/indian-railways-time-table"><i class="material-icons">today</i> Indian Railways Time Table</a></li>
                                 <li><a href="https://www.travelkhana.com/travelkhana/check-pnr-status"><i class="material-icons">tram</i> Check PNR status</a></li>
                                 <li><a href="https://www.travelkhana.com/travelkhana/jsp/userQuery.jsp"><i class="material-icons">group</i> Request CallBack</a></li>
                                 <li><a href="https://www.travelkhana.com/travelkhana/jsp/team.jsp"><i class="material-icons">group</i>Our Team</a></li>
                              </ul>
                           </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                           <div class="verified-list hidden-xs visible-md visible-sm visible-lg">
                              <ul class="list-inline">
                                 <li><a href="#"><img src="https://desktop.travelkhana.com/img/verified-img-1.png" alt="" title=""/></a></li>
                                 <li><a href="#"><img src="https://desktop.travelkhana.com/img/verified-img-2.png" alt="" title=""/></a></li>
                                 <li><a href="#"><img src="https://desktop.travelkhana.com/img/verified-img-3.png" alt="" title=""/></a></li>
                                 <li><a href="#"><img src="https://desktop.travelkhana.com/img/verified-img-4.png" alt="" title=""/></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <!--quick-links ist ends here-->
                     <div class="follow-us-list text-center">
                        <ul class="list-inline">
                           <li><a href="https://www.facebook.com/Travelkhana"><i class="circle fa fa-facebook"></i></a></li>
                           <li><a href="https://twitter.com/Travelkhana"><i class="circle fa fa-twitter"></i></a></li>
                           <li><a href="https://plus.google.com/+Travelkhanaservice"><i class="circle fa fa-google-plus"></i></a></li>
                           <li><a href="https://www.instagram.com/travelkhana1/"><i class="circle fa fa-instagram"></i></a></li>
                           <li><a href="https://www.linkedin.com/in/travelkhana/?ppe=1"><i class="circle fa fa-linkedin"></i></a></li>
                        </ul>
                     </div>
                     <div class="copyright-text text-center hidden-xs visible-md visible-lg">
                        <ul class="list-inline">
                           <li>Copyright &copy; 2017, TravelKhana, All rights reserved.</li>
                           <li><a href="https://www.travelkhana.com/travelkhana/jsp/policy.jsp">Privacy Policy</a></li>
                           <li><a href="https://www.travelkhana.com/travelkhana/jsp/terms.jsp">Terms & Conditions</a></li>
                           <li><a href="https://www.travelkhana.com/travelkhana/jsp/disclaimer.jsp">Disclaimer</a></li>
                        </ul>
                     </div>
                     <div class="divider"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="footer-bottom-area hidden-lg hiddenmd visible-xs visible-sm">
            <div class="container">
               <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12 lPadding">
                     <div class="copyright-text">
                        <p>Copyright &copy; 2017, TravelKhana, All rights reserved.</p>
                     </div>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                     <div class="more-links">
                        <ul class="list-inline">
                           <li><a href="#">Privacy Policy</a></li>
                           <li><a href="#">Terms & Conditions</a></li>
                           <li><a href="#">Disclaimer</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
   </body>
</html>