@media screen and (min-width:1200px) {
    #calltk {
        margin-right: 200px
    }
    .form-inline .form-control {
        width: 180px
    }
}

@media screen and (max-width:1200px) and (min-width:870px) {
    #calltk {
        margin-right: 100px
    }
    .input_bg .form-group input,
    .second-sectionpop .form-group select {
        font-size: 13px!important
    }
    .heading-wrap .form-inline .btn.btn-search {
        padding: 0 13px
    }
}

.example_responsive_1 {
    width: 320px;
    height: 100px
}

@media(min-width:500px) {
    .example_responsive_1 {
        width: 468px;
        height: 60px
    }
}

@media(min-width:800px) {
    .example_responsive_1 {
        width: 728px;
        height: 90px;
        padding-bottom: 50px;
        margin-left: 150px
    }
}
@media(min-width:1000px) {
    .seatResultPage {
            margin-left: -76px;
            width:1300px;
    }
}

.example_responsive_2 {
    width: 320px;
    height: 100px
}

@media(min-width:500px) {
    .example_responsive_2 {
        width: 468px;
        height: 60px
    }
}
@media(min-width:800px) {
    .example_responsive_2 {
        width: 728px;
        height: 90px;
        padding-bottom: 50px;
        margin-left: 174px
    }
}

@media (max-width:1024px) {
    .search-inner-form .btn-inner-search {
        padding: 10px;
        font-size: 14px
    }
    .shrink .navbar-header .navbar-brand img {
        width: 70%
    }
    .track-order .form-group button.btn-track {
        padding: 15px 44px
    }
}

@media (min-width:769px) and (max-width:1200px) {
    #myNavmenu {
        display: none
    }
    .app-img{width:177px;}
    .inner-header .navbar-right {
        margin-right: -15px
    }
    .coupon-code,
    .mobile-number-field {
        width: 100%
    }
    .single-item .item-img img {
        width: 111px
    }
    .order-item-lists .single-item .item-name h2,
    .order-item-lists .single-item .item-price h3 {
        font-size: 16px
    }
    .coupon-code .apply-coupon-btn {
        right: 0
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .form-inline,
    .main_heading {
        margin-bottom: 10px;
    }
    .hero-padded.background-2 {
        background-size: cover;
        height: 380px
    }
    .hero-padded h1 {
        font-size: 28px;
        line-height: 28px
    }
    .main_heading::before {
        display: none
    }
    .input_bg .form-group {
        padding: 10px
    }
    .input_bg .form-group input {
        width: 130px
    }
    .input_bg .last span {
        right: 196px
    }
    .station-name-list ul li span.t_time {
        position: relative;
        right: 0
    }
    .apply-coupon-btn {
        padding: 2px 10px!important
    }
}

@media (max-width:996px) {
    .hero-padded.background-2 {
        background-size: cover;
        padding-top: 100px;
        height: auto
    }
    .hero-padded h1 {
        font-size: 28px;
        line-height: 28px
    }
    .input_bg {
        margin-bottom: 10px
    }
    .input_bg .form-group input {
        font-size: 10px
    }
    .form-inline .btn.btn-search {
        width: auto;
        border-radius: 0;
        margin-bottom: 10px;
        margin-left: -4px;
        padding: 0 20px;
        font-size: 12px
    }
    .main_heading::before {
        display: none
    }
    .work-box h3 {
        white-space: nowrap;
        font-size: 16px
    }
    .download-area img {
        width: 150px
    }
    .item-name h2 {
        margin-top: 15px!important;
        margin-bottom: 5px!important
    }
    .order-summary h3 {
        font-size: 14px
    }
    .last-item {
        margin-top: 10px
    }
    .item-name h5 {
        margin: 0;
        font-weight: 700
    }
    .item {
        border: none
    }
    .apply-coupon-btn {
        padding: 2px 10px!important
    }
}

@media (max-width:800px) {
    .hero-padded.background-2 {
        background-size: cover;
        padding-top: 100px;
        height: auto
    }
    .hero-padded h1 {
        font-size: 28px;
        line-height: 28px
    }
    .input_bg {
        margin-bottom: 10px
    }
    .form-inline .btn.btn-search {
        width: auto;
        border-radius: 0;
        margin-bottom: 10px;
        margin-left: 0
    }
    .main_heading::before {
        display: none
    }
    .work-box h3 {
        white-space: nowrap;
        font-size: 16px
    }
    .download-area img {
        width: 150px
    }
    .form#srchForm {
        margin: 0 auto;
        width: 100%
    }
}

@media (max-width:990px) and (min-width:768px) {
    .form-inline .form-control {
        width: 90px
    }
    .form-inline .btn.btn-search {
        margin-left: -4px;
        margin-bottom: 0
    }
    .input_bg .last span {
        right: 130px
    }
    .input_bg .form-group.last {
        padding: 10px 10px 0 25px
    }
    .input_bg .form-group i {
        right: 5px
    }
    .search-inner-form .form-group {
        width: 170px
    }
    .search-inner-form .form-group input {
        width: 156px
    }
    .station-name-list ul li span.t_time {
        position: relative;
        right: 0;
        display: block
    }
    .station-name-list ul li {
        padding: 5px;
        font-size: 10px
    }
    .main-cart {
        margin-top: 36px;
        padding: 8px
    }
    .main-cart-content ul li a {
        font-size: 14px
    }
    .inner-search-content {
        padding-top: 68px
    }
    #stn_list h3 {
        font-size: 10px
    }
    .cart-checkout-btn .btn-total-checkout {
        padding: 5px 15px;
        font-size: 14px
    }
    .inner-header .navbar-nav>li>a {
        padding: 4px
    }
    .track-order .form-group button.btn-track {
        padding: 15px 20px!important
    }
    .payment-detail h3 {
        font-size: 16px
    }
}

@media (max-width:768px) {

    .content-form{width:100%;}
    .carousel-control,
    .main_heading::before,
    .payment-detail-accordion .completed,
    .payment-detail-accordion .panel-heading .step {
        display: none
    }
    .hero-padded.background-2 {
        background: url(https://desktop.travelkhana.com/img/bg3.jpg) 100%/cover no-repeat;
        padding-top: 100px;
        height: 275px
    }
    .hero-padded h1 {
        font-size: 28px;
        line-height: 28px
    }
    .input_bg {
        margin-bottom: 10px
    }
    .form-inline .btn.btn-search {
        width: auto;
        border-radius: 0;
        margin-bottom: 10px
    }
    .work-box h3 {
        white-space: nowrap;
        font-size: 16px
    }
    .download-area img {
        width: 150px
    }
    .input_bg .form-group input {
        width: 110px
    }
    .input_bg .last span {
        right: 125px
    }
    .input_bg .form-group.last {
        padding: 10px 10px 0
    }
    .form-inline .btn.btn-search {
        margin-left: -4px!important;
        margin-top: 9px;
        font-size: 14px
    }
    .follow-us-list ul li a i.circle {
        height: 32px;
        width: 32px;
        line-height: 32px
    }
    .follow-us-list ul li a i {
        font-size: 12px
    }
    .follow-us-list {
        padding-top: 30px
    }
    .footer-top-area {
        padding: 20px 0
    }
    .search-inner-form .btn-inner-search {
        padding: 10px;
        font-size: 14px
    }
    .search-inner-form .form-group {
        width: 170px
    }
    .search-inner-form .form-group input {
        width: 150px;
        font-size: 10px
    }
    .input_bg .form-group input {
        font-size: 12px
    }
    .shrink .navbar-header .navbar-brand img {
        width: 70%
    }
    ::-moz-placeholder {
        font-size: 12px;
        color: #929292
    }
    ::-webkit-placeholder {
        font-size: 12px;
        color: #929292
    }
    :-moz-placeholder {
        font-size: 12px;
        color: #929292
    }
    :-ms-input-placeholder {
        font-size: 12px;
        color: #929292
    }
    .inner-header .navbar-nav>li>a {
        line-height: 30px
    }
    .item-name h2 {
        font-size: 16px!important;
        margin-top: 10px!important
    }
    .payment-detail-accordion .panel-heading h4 {
        padding: 12px 50px 12px 5px
    }
    .mTop-15 {
        margin-top: 15px
    }
    .order-item-list-mobile {
        position: absolute;
        right: 0
    }
    .order-detail {
        margin-top: -15px
    }
    .contact-box2 ul li img.reg-address
    {
        vertical-align: top;
    }
    
}
@media (max-width: 990px) and (min-width:780px){
    .contact-box2 ul li img.reg-address
    {
        vertical-align: top;
    }
}

@media (max-width:767px) and (min-width:240px) {
    .copyright-text,
    .download-app .overview-text h3,
    .media-body h5,
    .more-links,
    .order-success-msg .success-content .media {
        text-align: center
    }
    .form#srchForm {
        margin: 0 auto;
        width: 100%
    }
    .input_bg,
    .main_heading {
        margin-bottom: 10px
    }
    .inner-header .navbar-right {
        margin-right: -15px
    }
    .inner-header .navbar-toggle {
        border-color: #333
    }
    .inner-header .navbar-toggle .icon-bar {
        background: #333
    }
    .navbar {
        padding-top: 0
    }
    .navbar-brand {
        margin-left: 15px
    }
    .navbar-brand>img {
        width: 70%
    }
    .navbar-collapse {
        border: 0
    }
    .navbar-inverse .navbar-nav>li>a {
        padding-top: 10px;
        font-size: 14px;
        color: #fff
    }
    .main_heading::before {
        display: none
    }
    .hero-padded.background-2 {
        background: none;
        background-color: #f4f4f4;
        padding-top: 100px;
        height: auto
    }
    .hero-padded h1 {
        font-size: 22px;
        line-height: 22px;
        color: #000
    }
    .input_bg {
        height: auto;
        display: block;
        border-radius: 0;
        background: 0 0
    }
    .input_bg .form-group {
        background: #fff;
        box-shadow: 0 6px 16px 0 rgba(189, 192, 194, .5);
        width: 100%
    }
    .input_bg .form-group input {
        width: 100%
    }
    .marginScale{
        margin-bottom: 0px;
    }
    .form-inline .btn.btn-search {
        width: 100%;
        border-radius: 0;
        margin-bottom: 10px;
        margin-left: 0
    }
    .carousel-control {
        display: none
    }
    .footer-area {
        padding: 10px
    }
    .lPadding {
        padding-left: 15px
    }
    .download-area {
        margin-bottom: 20px
    }
    .download-area img {
        width: 150px
    }
    .order-detail-container .detail-list h4,
    .search-inner-form .btn-inner-search,
    .search-inner-form .form-group,
    .search-inner-form .form-group input {
        width: 100%
    }
    .image-holder img {
        margin-top: 0
    }
    .work-box h3 {
        white-space: nowrap;
        font-size: 16px
    }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        background-color: #fff
    }
    .follow-us-list {
        padding-top: 10px
    }
    .copyright-text,
    .more-links {
        margin: 0
    }
    .copyright-text p,
    .more-links ul li,
    .more-links ul li a {
        font-size: 11px
    }
    .shrink.inner-header .navbar-header .navbar-brand {
        padding: 0
    }
    .shrink.inner-header {
        padding: 5px
    }
    .inner-search-content {
        padding-top: 70px
    }
    .middle-conent {
        padding: 15px 0 0
    }
    .middle-heading .food-heading {
        font-size: 18px;
        margin-bottom: 10px
    }
    .middle-heading .food-time {
        float: left;
        margin-bottom: 10px;
        margin-top: 10px
    }
    .offer-slider .carousel-inner .item {
        height: auto
    }
    .order-detail-container .detail-list {
        margin-bottom: 10px;
        height: auto;
        padding: 0
    }
    .more-option-list ul li {
        width: 100%;
        margin-bottom: 10px;
        margin-right: 0
    }
    .media-body,
    .order-success-msg .success-content .media {
        width: 330px;
        text-align: center
    }
    .order-success-msg .success-content h3 {
        font-size: 12px;
        line-height: 20px
    }
    .available-food .media-body,
    .media-left,
    .media-right {
        display: block
    }
    .available-trip-food {
        padding: 20px
    }
    .available-food .carousel-inner .item .media .media-left img {
        width: 100%
    }
    .media-body h4,
    .order-success-msg .success-content .media {
        margin-top: 10px;
        font-size: 14px
    }
    .page-heading {
        padding: 30px 0
    }
    .available-food .carousel-inner .item .media .media-body .add-food {
        right: 20px;
        bottom: 30px
    }
    .available-food .carousel-inner .item .media .media-body .non-veg,
    .available-food .carousel-inner .item .media .media-body .veg {
        right: 20px
    }
    .track-order-container {
        padding: 20px 0
    }
    .track-order .form-group input.order-id {
        width: 90%
    }
    .track-order .form-group button.btn-track {
        margin-top: 0;
        width: 100%
    }
    .recent-order-box .order-box,
    .recent-order-box .order-box.active {
        margin-bottom: 10px
    }
    .item-list-detail .item-status,
    .recent-order-box .order-box .order-status {
        float: left
    }
    .item-price,
    .item-quantity {
        text-align: left
    }
    .order-item-lists .single-item .item {
        border-bottom: 1px solid #eee
    }
    .order-item-lists .single-item h3 {
        margin-top: 10px;
        margin-bottom: 10px
    }
    .food-box .thumbnail,
    .panel-group {
        margin-bottom: 5px
    }

    .payment-option-list ul li {
        margin-left: 0
    }
    .station-list .train-name p {
        font-size: 14px;
        margin-bottom: 10px
    }
    .station-list .train-name span>i {
        font-size: 19px
    }
    .station-list .train-name .show-station-list {
        top: 32px
    }
    .station-list .train-name {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .4);
        padding: 12px 0 2px 15px
    }
    .our-reviews,
    .our-reviews .thumbnail {
        background: #f1f1f1
    }
    .highlight {
        background: #fff
    }
    .payment-detail {
        box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .4);
        padding: 14px 10px 7px
    }
    .footer-top-area {
        padding: 10px 0
    }
    #online_payment .modal-body {
        padding: 20px 30px
    }
    #online_payment .modal-dialog {
        width: 330px;
        margin: 20px auto
    }
    #online_payment .modal-body .panel .panel-body ul li {
        width: 32%
    }
    #online_payment .modal-content .modal-body button.btn-pay-online {
        width: 100%
    }
    .item-img>.media {
        border: 1px solid #ddd
    }
    .item-img>.media>.media-left {
        display: table-cell;
        padding-right: 4px
    }
    .item-img>.media>.media-left img {
        margin: 0 auto
    }
    .item-img>.media>.media-body h4 {
        margin: 0;
        font-size: 12px;
        font-weight: 400;
        text-align: left
    }
    .item-img>.media>.media-body h5 {
        margin: 0;
        font-size: 14px;
        text-align: left
    }
    .amount-paid h4,
    .mobile-subtotal h4,
    .subcharge h4 {
        font-weight: 400;
        text-align: right;
        font-size: 14px
    }
    .booked-item-price h5 {
        font-size: 14px;
        font-weight: 400;
        margin: 30px 0 0
    }
    .single-item-mv {
        margin-bottom: 20px
    }
    .mobile-subtotal {
        border-bottom: 1px solid #ddd;
        : 20px 0
    }
    .mobile-subtotal h4 {
        margin: 0
    }
    .subcharge h4 {
        margin: 10px 0 5px
    }
    .amount-paid {
        background: #f1f4f7;
        padding: 10px 0;
        margin-bottom: 10px
    }
    .amount-paid h4 {
        color: #2c496d
    }
    .payment-opt {
        position: relative;
        margin-bottom: 20px
    }
    .payment-opt h4 {
        margin: 0;
        font-size: 14px;
        font-weight: 300
    }
    .payment-opt span {
        background: #bcdcb3;
        border-radius: 20px;
        color: #fff;
        font-size: 12px;
        height: 20px;
        left: 54%;
        line-height: 20px;
        position: absolute;
        text-align: center;
        top: -3px;
        width: 20px
    }
    .mobile-view-pay {
        width: 100%
    }
    .mobile-view-pay button.btn-payu {
        width: 100%;
        background: #a42614;
        box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .3);
        border: 1px solid #a42614;
        color: #fff;
        font-family: inherit;
        padding: 12px 30px;
        text-transform: uppercase;
        border-radius: 3px;
        font-size: 18px;
        font-weight: 500
    }
    .order-item-list-mobile ul li {
        background: #fff;
        border: 1px solid #eee;
        border-radius: 20px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 40px;
        cursor: pointer
    }
    .order-item-list-mobile ul li i {
        color: #a42614
    }
    .item-list-detail {
        margin-bottom: 20px
    }
    #myNavmenu ul {
        margin: 0
    }
    #myNavmenu ul li {
        position: relative
    }
    #myNavmenu ul li a {
        padding-left: 40px
    }
    #myNavmenu ul li a i {
        font-size: 22px;
        left: 7px;
        position: absolute;
        top: 13px
    }
    .shrink .navbar-header .navbar-brand img {
        width: 70%
    }
    .navbar>.container .navbar-brand,
    .navbar>.container-fluid .navbar-brand {
        margin-left: 12px
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #000
    }
    .navbar-inverse .navbar-toggle {
        border: 1px solid #000
    }
    .or::after,
    .or::before {
        width: 40%;
        background: #ddd;
        height: 2px
    }
    .navbar-inverse.navbar-transparent.shrink {
        background: #fff
    }
    #blog {
        padding-top: 0
    }
    .main_heading h3 {
        margin-top: 0
    }
    .main_heading h3::after {
        position: absolute;
        content: '';
        width: 80px;
        height: 2px;
        background: red;
        top: 41px;
        left: 40%
    }
    .mobile-view-list-item.col-md-2.col-sm-2 {
        padding-left: 0;
        padding-right: 0
    }
    .ac_results {
        width: 87%!important
    }
    .media-left,
    .media-right,
    .offer-detail .media-body {
        display: table-cell
    }
    .offer-deliver-date .food-time {
        float: left;
        margin-bottom: 10px
    }
    .offer-middle-heading .food-heading {
        font-size: 18px
    }
    .offer-deliver-date {
        margin-bottom: 10px
    }
    .footer-bottom-heading h3 {
        font-size: 26px;
        font-weight: 400
    }
    .blog-content p {
        text-align: justify;
        padding: 5px 15px 0;
        line-height: 22px;
        color: #9d9b99;
        font-size: 15px;
        margin-bottom: 20px;
        font- family: inherit;
        font-weight: 400
    }
    .blog-content h4 {
        margin-top: 25px;
        margin-bottom: 5px;
        color: #5c5c5c;
        font-size: 20px;
        font-family: inherit;
        font-weight: 400
    }
    .or>span {
        padding: 10px;
        border: 1px solid #fff
    }
    .offer-detail .media-left img {
        width: 70px
    }
    .station-name-list ul li.active {
        background: #d51b00
    }
    #train-list-modal .modal-body ul li {
        padding: 6px
    }
    #train-list-modal .modal-dialog {
        width: 290px
    }
    #train-list-modal .modal-body {
        max-height: 320px;
        overflow: scroll;
        overflow-x: auto
    }
    .offer-slider {
        position: relative
    }
    .offer-slider h2 {
        bottom: 17px;
        color: #fff;
        font-size: 14px;
        left: 6px;
        position: absolute;
        z-index: 2
    }
    .single-item .item-img img {
        width: 111px
    }
    .order-item-lists .single-item .item-name h2,
    .order-item-lists .single-item .item-price h3 {
        font-size: 16px
    }
    .coupon-code .apply-coupon-btn {
        right: 0
    }
    #UpdateDetail .modal-dialog {
        width: 330px
    }
    .item {
        border-bottom: none!important
    }
    .coupon-code,
    .mobile-number-field {
        width: 100%
    }

    /*enuke 10 oct 2017*/
    .member-des h3 {
    font-size: 17px;
    padding: 0 0 5px;
    margin: 5px 0;
    display: block;
}

.popular-train > li i {
    color: #999a9a;
    padding-right: 5px;
    position: absolute;
    left: 0;
    top: 11px;
}

.popular-train > li {
    padding-left: 20px !important;
}


.sitemap-list ul li {
    width: 250px;
    margin-right: 0;
}

.stationTable-content .col-table2  table tr th:first-child {
    border-top: 0 none;
}


.stationTable-content .col-table2 .table-responsive {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 0 none;
}

.stationTable-content table
{
    margin-bottom: 13px;
}

.stationTable-content .col-table2 table tr td.col-table-td {
    border-top: 0 none;
}

.col-table2 table.table-bordered {
    border-top: 0 none;
}

.member-des span {
    font-size: 12px;
}

.availability-bg {
    padding: 8px 0;
}

.heading-wrap {
    padding: 25px 0 10px;
}

.mrtop35 {
    margin-top: 0;
}

.heading-wrap h2 {
    margin-top: 0;
}

.delhi-panvel-content table tr td {
    padding: 10px;
}

.member-des
{
    padding:0;
}

.prev-btn
{
    width:152px;
    font-size:14px;
    margin:20px 0 20px 0;
}

.staus-table-detail, .content-form
{
    width:100%;
}

.content-form
{
   padding:10px 0;
}
.status-table-detail{
    width: 100%;
}
 .content-form button.center-block
    {
        width:100%;
    }
    .faq-bg, .support_banner_bg {
       padding: 60px 0;
    }
    .contact-wrap ul li{
        margin-bottom: 12px;
    }
    .contact-box2 ul li img.reg-address
    {
        vertical-align: top;
    }
    .contact-wrap.contact-box2 ul li{
        margin-bottom: 20px;
    }
}

@media (max-width:430px) {
    .item-quantity {
        width: 80px!important
    }
    .item-quantity .number-spinner .btn-minus,
    .item-quantity .number-spinner .btn-plus {
        width: 25px;
        height: 25px
    }
    .item-quantity .number-spinner .btn-minus .glyphicon-minus {
        left: 6px;
        top: 6px
    }
    .item-quantity .number-spinner input {
        font-size: 18px
    }
    .item-quantity .number-spinner .btn-plus .glyphicon-plus {
        left: 6px;
        top: 5px
    }
    .item-img img {
        width: 88px!important
    }
    .item-name h2,
    .last-item {
        margin-top: 8px!important
    }
    .item-name h2 {
        font-size: 12px!important;
        font-weight: 700;
        margin-top: 4px!important;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .order-item-list-mobile {
        position: relative
    }
    .btn-proceed {
        width: 100%
    }
    .booked-item-price h5 {
        margin-top: 0
    }

   
    .contact-wrap > ul
    {
        padding:0;
    }
    .cont-num small
    {
        margin-left: 52px;
    }
}

@media (max-width:480px) {
    .dept-head
    {
         font-size:16px !important;
         line-height:40px;
    }
  

}



@media (min-width:320px) {
    .train-list-mobile-view .delivery-mobile-view h3,
    .train-list-mobile-view .delivery-mobile-view h3 span {
        font-size: 12px
    }
    .pass_detail_mobile ul li {
        font-size: 18px;
        padding: 0 10px
    }
    .r_edit {
        width: 50px;
        height: 50px;
        font-size: 25px
    }

}

@media (max-width:320px) {
   .prev-btn
   {
    width:130px;
   }

}
