.trainTable-wrap {
    margin: 30px 0 20px;
}
.trainTable-wrap h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 40px;
    color: #363636;
}
.trainTable-wrap p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.4;
}
.trainTable-wrap,.avail-wrap {
    margin: 0 auto;
    max-width: 90%;
    padding: 0 0 20px;
    width: 100%;
}
.trainTable-wrap p{
		text-align: justify;
		padding:0px 5px;
	}
	.trainTable-wrap{
	max-width: 98%!important;
}
.head-icon {
    background: #6f6f6f none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin: 0 auto 25px;
    width: 276px;
    position: relative;
}

.head-icon:after {
    background: #fff url("https://desktop.travelkhana.com/img/heading-icon.png") no-repeat scroll 7px 0;
    content: "";
    height: 36px;
    left: 95px;
    position: absolute;
    top: -14px;
    width: 70px;
    z-index: 9999;
}
.late-train,.on-time{
	background: #fff2f2;
    border-radius: 7px;
    font-size: 16px;
    padding: 15px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	margin:25px 0px;
}
.late-train span,.on-time span{
	display:block;
	line-height:1.3;
}
.late-train span strong, .on-time span strong{
	color:#333;
}



@media(max-width:480px) {
	.trainTable-wrap h3{font-size: 18px;}
    }