body {
    font-family: Roboto, sans-serif;
    background: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: .5px;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #4d4d4d;
    padding: 0!important
}

a,
button {
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}

.rPadding {
    padding-right: 0
}

.rPadding-18 {
    padding-right: 18px!important
}

.lPadding-8 {
    padding-left: 8px!important
}

.mrtop78 {
    margin-top: 78px
}

.mrtop35 {
    margin-top: 35px
}

.mrtop100 {
    margin-top: 100px
}

.form-control:focus {
    border-color: #d51b00
}

.divider {
    width: 90px;
    height: 2px;
    background: #188159;
    margin: 0 auto
}

a:focus {
    outline: 0
}

.mb20 {
    padding-bottom: 20px
}

.lPadding {
    padding-left: 0
}

::-moz-placeholder {
    font-size: 14px
}

::-webkit-placeholder {
    font-size: 14px
}

:-moz-placeholder {
    font-size: 14px
}

:-ms-input-placeholder {
    font-size: 14px
}

.error::-webkit-input-placeholder {
    color: #d51b00
}

div#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: url(https://desktop.travelkhana.com/img/loader.gif) center center no-repeat #fff
}

.app-icon,
.main-header {
    position: absolute;
    top: 14px
}

.main-header {
    background: 0 0;
    border-radius: 0;
    z-index: 9999;
    width: 100%;
    border-color: transparent
}

.ac_results,
.dropdown-menu {
    z-index: 999999
}

.navbar-header .navbar-brand {
    padding: 0;
    height: auto
}

.navbar-header .navbar-brand img {
    width: 70px;
    margin-top: 10px; /*enuke 10 oct 2017*/
}

.navbar-inverse .navbar-toggle {
    border-color: #fff
}

.navbar-inverse.navbar-transparent {
    margin: 0;
    padding: 15px 0;
    border: 0;
    background-color: transparent;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

#myNavmenu {
    background: rgba(75, 91, 107, .9);
    padding: 15px 0
}

.navmenu-fixed-right {
    left: auto
}

#myNavmenu ul li:hover {
    background: #414751
}

#myNavmenu ul li a {
    font-weight: 700
}

.navbar-inverse.navbar-transparent.shrink {
    padding: 5px 0;
    background-color: #393f4d
}

.shrink .navbar-header .navbar-brand img {
    width: 100%
}

.shrink.inner-header .navbar-header .navbar-brand img {
    width: 73%
}

.shrink .search-inner-form .navbar-form {
    padding-top: 5px
}

.shrink.inner-header {
    padding: 0;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.shrink.inner-header .navbar-header .navbar-brand {
    padding: 5px 0 0
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    background: 0 0;
    color: #000
}

.navbar-offcanvas,
.navmenu {
    width: 190px!important
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding-top: 24px;
    line-height: 30px
}

.navbar-inverse .navbar-nav>li>a>img {
    width: 100px
}

.navbar-inverse .navbar-nav>li>a:hover {
    background: 0 0;
    color: #d51b00
}

.app-icon {
    right: 80px
}

.navbar-header,
.search-inner-form .form-group.date-field {
    position: relative
}

.app-icon ul {
    margin: 0
}

.app-icon>ul>li>a {
    color: #000
}

.inner-header {
    padding: 5px 0;
    background-color: #fff;
    border-bottom: 1px solid #e1e1e1
}

/*enuke 10 cot 2017*/
/*.inner-header .navbar-right {
    margin-right: 70px
}*/

.search-inner-form .form-group {
    width: 250px
}

.search-inner-form .form-group input {
    border-color: currentcolor currentcolor #e1e1e1;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    padding: 0;
    width: 230px;
    font-size: 16px;
    font-family: inherit;
    color: #2d2d2d;
    outline: 0;
    height: 34px
}

.search-inner-form .btn-inner-search {
    outline: 0;
    background-color: #fff;
    color: #fff;
    border-radius: 3px;
    padding: 8px 10px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: inherit;
    border: 1px solid #ddd
}

.search-inner-form .form-group.date-field i {
    font-size: 16px;
    position: absolute;
    right: 9px;
    top: 11px;
    cursor: pointer
}

.datepicker {
    margin-top: 0!important;
    cursor: pointer
}

.inner-header .navbar-nav>li>a {
    padding: 10px;
    background: 0 0;
    line-height: 60px;
    color: #464646;
    font-family: inherit;
    font-size: 14px
}

.inner-search-content,
.order-success-container {
    color: #0d3e57;
    line-height: 14px;
    font-family: inherit
}

.inner-header .navbar-nav>li>a>span img {
    padding-right: 10px
}

.inner-search-content {
    background-color: #fff;
    position: relative;
    padding-top: 68px
}

.order-success-container {
    padding-top: 100px
}

.inner-search-content .station-list {
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1
}

.station-list .train-name {
    padding: 30px 0 0 15px;
    position: relative
}

.station-list .train-name .show-station-list {
    box-shadow: none;
    cursor: pointer;
    position: absolute;
    right: 10px;
    text-shadow: none;
    top: 28px
}

.station-list .train-name span {
    font-size: 14px;
    color: #d51b00;
    border: 1px solid red;
    border-radius: 28px;
    height: 24px;
    width: 40px
}

.station-list .train-name p {
    font-size: 10px;
    color: #929292;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 20px
}

.station-list>p {
    padding: 0 15px;
    font-size: 12px;
    font-weight: 500
}

.station-list .train-name h3 {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 3px;
    text-transform: uppercase;
    color: #464646
}

#stn_list h3 {
    font-size: 11px;
    padding: 15px 15px 0;
    color: #898989
}

.station-name-list ul li {
    border-bottom: 1px solid #e1e1e1;
    font-size: 12px;
    background: #fff;
    font-weight: 500;
    padding: 15px 5px;
    cursor: pointer;
    position: relative;
    text-transform: uppercase
}

.station-name-list ul li.today {
    color: #929292;
    background: 0 0
}

.station-name-list ul li.active {
    background: #606060;
    color: #fff
}

.station-name-list ul li.active small {
    color: #fff
}

.station-name-list ul li small {
    color: #606060;
    font-weight: 400
}

.station-name-list ul li span.t_time {
    font-weight: 400;
    font-size: 10px;
    width: 90px;
    text-align: right
}

.train-list-mobile-view .train-detail-mob {
    padding: 10px 5px 0;
    border-bottom: 1px solid #ddd
}

.train-list-mobile-view .train-detail-mob p {
    font-size: 10px
}

.train-list-mobile-view .train-detail-mob p span {
    font-weight: 600;
    font-size: larger
}

.train-list-mobile-view .delivery-mobile-view h3 {
    font-size: 14px;
    margin: 0;
    color: #929292;
    text-transform: uppercase
}

.middle-heading,
.offer-detail {
    margin-bottom: 20px
}

.train-list-mobile-view .delivery-mobile-view {
    position: relative;
    padding: 8px 5px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .45)
}

.train-list-mobile-view .delivery-mobile-view span.show-station-list {
    position: absolute;
    width: 55px;
    height: 25px;
    right: 5px;
    top: 10px;
    font-size: 12px;
    color: #d51b00;
    padding: 4px;
    text-align: center;
    border: 1px solid #d51b00;
    cursor: pointer;
    border-radius: 28px
}

.train-list-mobile-view .delivery-mobile-view h3 span {
    display: block;
    font-size: 14px;
    color: #303030;
    margin-top: 4px
}

.middle-heading .food-heading,
.offer-middle-heading .food-heading {
    color: #0d3e57;
    font-size: 22px
}

.middle-conent {
    padding: 35px 0
}

.offer-detail .media-object {
    margin: 0;
    width: 70px
}

.offer-middle-heading {
    margin-bottom: 20px
}

.offer-detail>.media>.media-body {
    vertical-align: middle
}

.offer-detail>.media-body>h4 {
    margin-top: 10px;
    color: #464646;
    font-size: 22px;
    font-weight: 500
}

.offer-detail .media-body small {
    font-size: 14px;
    color: #464646;
    font-weight: 400
}

.middle-heading .food-time,
.offer-deliver-date .food-time {
    color: #929292;
    font-size: 15px;
    text-transform: uppercase;
    float: right
}

.offer-slider {
    margin-bottom: 44px
}

.offer-slider h2 {
    font-size: 16px;
    margin: 0 0 8px;
    padding: 0 15px;
    text-transform: uppercase
}

.offer-slider .carousel-inner .item {
    margin-bottom: 20px;
    height: 120px;
    overflow: hidden;
    cursor: pointer
}

.offer-slider .carousel-control .glyphicon-chevron-left,
.offer-slider .carousel-control .glyphicon-chevron-right {
    top: 50%
}

.offer-slider .carousel-control .glyphicon-chevron-left {
    color: #fff;
    left: 30px
}

.offer-slider .carousel-control .glyphicon-chevron-right {
    color: #fff;
    right: 30px
}

.offer-slider .carousel-control {
    width: 10%;
    height: 86%
}

.offer-slider .carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x;
    margin-left: 15px
}

.offer-slider .carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .5) 100%);
    background-repeat: repeat-x;
    margin-right: 15px
}

.food-box .thumbnail {
    padding: 0;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 6px 16px 0 rgba(189, 192, 194, .5);
}

.img_box {
    background-image: url(https://desktop.travelkhana.com/img/nv-food.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0
}

.food-box .thumbnail .caption {
    text-align: center;
    width: 100%;
    position: relative
}

.food-box .thumbnail>img {
    border-radius: 4px 4px 0 0;
    height: 170px;
    overflow: hidden;
    width: 100%
}

.food-box .thumbnail .caption h2 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    color: #0d3e57
}

.food-box .thumbnail .caption p {
    color: #929292;
    font-size: 12px;
    font-style: normal
}

.food-box .thumbnail .add-food {
    background: #d51b00;
    border-radius: 3px;
    color: #fff;
    padding: 8px 20px;
    position: absolute;
    right: 10px;
    top: 20px;
    cursor: pointer;
    z-index: 2
}

.food-box .thumbnail .fav-food {
    color: #ffd76e;
    position: absolute;
    left: 15px;
    top: 25px;
    cursor: pointer;
    z-index: 2;
    background: #fff;
    height: 38px;
    width: 38px;
    text-align: center;
    line-height: 38px;
    border-radius: 28px;
    border: 1px solid #ffd76e
}

.food-box .thumbnail .fav-food i {
    font-size: 18px
}

.food-box .thumbnail .add-item-success {
    background: rgba(0, 0, 0, .4);
    border-radius: 3px 3px 0 0;
    color: #fff;
    display: table;
    height: 150px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%
}

.non-veg:after,
.veg:after {
    content: "";
    left: 30%;
    top: 30%;
    z-index: 1
}

.food-box .thumbnail .add-item-success .add-inner-item {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%
}

.food-box .thumbnail .add-item-success .add-inner-item span.big {
    font-size: 40px;
    font-weight: 900
}

.food-box .thumbnail .caption .food-price {
    font-size: 16px;
    color: #0d3e57
}

.veg {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 19px;
    height: 18px;
    border: 1px solid #197b30
}

.veg:after {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background: #197b30
}

.non-veg {
    vertical-align: middle;
    position: relative;
    display: inline-block;
    width: 19px;
    height: 18px;
    border: 1px solid #da251e
}

.cart-content,
.cart-heading,
.cart-item-content .cart-item {
    border-bottom: 1px solid #e1e1e1
}

.non-veg:after {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    background: #da251e
}

.food-box .thumbnail .caption .non-veg,
.food-box .thumbnail .caption .veg {
    position: absolute;
    right: 10px;
    top: 20px
}

.cart-content {
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-top: 0 none
}

.top-fixed {
    position: fixed;
    left: 14px;
    top: 69px;
    width: 93%;
    z-index: 3
}

.cart-heading {
    background-color: #fafafa;
    padding: 40px 15px 20px;
    position: relative
}

.cart-heading .exceeded-error {
    position: absolute;
    top: 0;
    left: 0;
    background: #d51b00;
    width: 100%;
    padding: 10px
}

.cart-heading .exceeded-error h4 {
    margin: 0;
    color: #fff;
    text-align: center;
    font-size: 10px
}

.cart-heading h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 0;
    margin-top: 8px
}

.cart-item-content {
    background: #fff;
    padding: 0 0 20px
}

.cart-item-content .cart-item {
    padding: 10px 15px;
    position: relative
}

.cart-item .item-name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px
}

.couponError,
.mobile-number-field {
    display: none
}

.cart-item .item-price {
    position: absolute;
    right: 15px;
    top: 40px
}

.cart-item-content .cart-item .item-del {
    background: #d51b00;
    opacity: 1;
    color: #fff;
    height: 23px;
    width: 23px;
    position: absolute;
    right: 10px;
    top: 5px;
    text-align: center;
    line-height: 25px;
    border-radius: 28px;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer
}

.item-quantity .number-spinner .btn-minus,
.item-quantity .number-spinner .btn-plus {
    background: 0 0;
    border-radius: 28px;
    color: #d51b00;
    height: 32px;
    text-align: center;
    width: 32px;
    position: relative;
    border-color: #d51b00
}

.item-quantity .number-spinner input {
    background: 0 0;
    border-radius: 10px!important;
    box-shadow: none;
    color: inherit;
    font-size: 26px;
    font-weight: 400;
    border: 0;
    padding: 5px
}

.item-quantity .number-spinner .glyphicon {
    font-size: 12px
}

.item-quantity .number-spinner .btn-minus .glyphicon-minus {
    left: 9px;
    position: absolute;
    top: 9px
}

.item-quantity .number-spinner .btn-plus .glyphicon-plus {
    position: absolute;
    left: 10px;
    top: 9px
}

.cart-subtotal {
    padding: 10px;
    position: relative
}

.cart-subtotal p {
    color: #929292;
    font-size: 14px;
    position: relative;
    font-weight: 600
}

.cart-subtotal p::after {
    content: ":";
    left: 100px;
    position: absolute
}

.coupon-code,
.mobile-number-field {
    padding: 10px 0;
    position: relative;
    width: 250px
}

.cart-subtotal .bold-text,
.cart-subtotal>span {
    color: #000;
    font-weight: 700;
    font-size: 18px
}

.coupon-code input {
    border-radius: 0;
    border-top: 0 none;
    border-bottom: 1px solid #e1e1e1;
    border-left: 0 none;
    border-right: 0 none;
    box-shadow: none;
    padding: 0
}

.coupon-code input:focus,
.mobile-number-field input:focus {
    box-shadow: none
}

.apply-btn button,
.checkout-btn button {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .35);
    text-transform: uppercase
}

.coupon-code i {
    font-size: 20px;
    position: absolute;
    top: 15px;
    color: #929292
}

.coupon-code .mobile_field i {
    font-size: 28px;
    left: 23px;
    position: absolute;
    top: 57px;
    color: #929292
}

.promoCode {
    margin-left: 5px
}

.apply-btn button {
    background-color: #d51b00;
    color: #fff;
    padding: 15px;
    border-radius: 0
}

.couponError {
    color: red
}

.coupon-code .apply-coupon-btn {
    background: rgba(0, 0, 0, 0);
    border: 1px solid #d51b00;
    border-radius: 0;
    color: #f5f5f5;
    font-size: 12px;
    padding: 6px 10px;
    position: absolute;
    right: -70px;
    top: 13px;
    background-color: #d51b00
}

.coupon-applied {
    color: #929292;
    font-size: 10px;
    padding: 10px 0;
    position: relative
}

.coupon-applied span.code {
    color: #46c85c;
    font-size: 12px;
    font-weight: 700
}

.coupon-applied span.code i {
    font-size: 18px
}

.coupon-applied>p>a>i {
    background: #ffe3e1;
    border: 1px solid #ff3b30;
    border-radius: 28px;
    color: #ff3b30;
    cursor: pointer;
    font-weight: 400;
    height: 20px;
    line-height: 17px;
    position: absolute;
    right: 40px;
    text-align: center;
    top: 12px;
    width: 20px
}

.checkout-btn {
    padding: 10px 0
}

.checkout-btn button {
    width: 100%;
    background-color: #d51b00;
    color: #fff;
    padding: 15px;
    font-weight: 400;
    border-radius: 0;
    font-size: 20px
}

.checkout-btn button:hover {
    color: #fff;
    box-shadow: none
}

.mobile-view-cart {
    border-radius: 5px;
    background-color: #337ab7;
    box-shadow: 0 10px 19px 0 rgba(46, 109, 164, .45);
    padding: 15px 0;
    display: none
}

.mobile-view-cart ul {
    margin: 0;
    padding: 0
}

.mobile-view-cart ul li {
    margin-left: 15px;
    padding-left: 15px;
    padding-right: 0;
    position: relative
}

.mobile-view-cart ul li:first-child:before {
    content: '';
    position: absolute;
    height: 20px;
    width: 1px;
    background: #fff;
    right: -20px;
    top: -3px
}

.mobile-view-cart ul li span {
    color: #fff;
    font-size: 14px;
    font-family: inherit
}

.quotes p,
.quotes>span {
    font-size: 12px
}

.mobile-view-cart.text-center ul li span.checkout {
    background: #337ab7;
    color: #fff;
    padding: 0
}

.empty-cart {
    background: #fafafa;
    padding: 10px 20px 20px
}

.quotes {
    padding: 30px 0
}

.quotes p {
    color: #90a6b0;
    font-weight: 300;
    margin: 0 auto 10px;
    width: 200px
}

.disable-cart-btn button {
    width: 100%;
    background-color: #cfd8dc;
    color: #fff;
    padding: 10px;
    font-weight: 700;
    border-radius: 0;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .4)
}

.disable-cart-btn button:hover {
    color: #fff;
    box-shadow: none
}

.ad-box {
    border: 1px solid #ddd;
    border-radius: 2px;
    padding: 10px;
    margin-top: 71px
}

.main-cart {
    position: fixed;
    border-width: 1px;
    border-color: #606060;
    border-style: solid;
    border-radius: 5px;
    padding: 15px;
    margin-top: 71px;
    padding-right: 50px;
    padding-left: 50px;
}

.main-cart-content ul {
    margin-bottom: 20px
}

.main-cart-content ul li {
    border-right: 2px solid #999;
    padding-left: 10px;
    padding-right: 10px
}

.main-cart-content ul li a {
    font-size: 24px;
    color: #303030
}

.main-cart-content ul li:last-child {
    border-right: 0 none
}

.cart-checkout-btn .btn-total-checkout {
    background: #d51b00;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .35);
    padding: 10px 28px;
    font-size: 18px
}

.payment-detail {
    margin-bottom: 10px;
    padding: 30px 0 0
}

.payment-detail h3 {
    color: #0d3e57;
    font-size: 18px;
    margin-top: 10px;
    font-weight: 400
}

.payment-detail span.train_name {
    color: #464646;
    font-size: 16px;
    margin-bottom: 20px
}

.payment-detail h1 {
    color: #929292;
    font-size: 16px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0
}

.payment-detail h1 span {
    color: #303030;
    font-size: 16px
}

.payment-detail-accordion .panel {
    border-radius: 0
}

.payment-detail-accordion .completed .step-complete {
    background: #46c85c;
    height: 70px;
    line-height: 70px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px
}

.payment-detail-accordion .completed .step-complete i {
    color: #fff;
    font-size: 20px
}

.payment-detail-accordion .completed {
    box-shadow: none
}

.payment-detail-accordion .completed .panel-heading {
    background: #fff
}

.payment-detail-accordion .panel-heading {
    height: 70px;
    background: #fff;
    color: #d51b00;
    box-shadow: none;
    position: relative
}

.payment-detail-accordion .panel-heading h4 {
    padding: 12px 50px;
    font-size: 18px;
    color: #0d3e57;
    font-weight: 400
}

.payment-detail-accordion .active {
    box-shadow: 0 6px 16px 0 rgba(189, 192, 194, .5);
    -webkit-box-shadow: 0 6px 16px 0 rgba(189, 192, 194, .5);
    -moz-box-shadow: 0 6px 16px 0 rgba(189, 192, 194, .5)
}

.payment-detail-accordion .inactive h4 {
    color: #e3e3e3
}

.payment-detail-accordion .inactive .step {
    color: #e3e3e3!important
}

.payment-detail-accordion .completed .complete-step {
    background: #007f00;
    height: 70px;
    line-height: 70px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px
}

.payment-detail-accordion .completed .complete-step i {
    color: #fff;
    font-size: 24px
}

.payment-detail-accordion .panel-heading .step {
    position: absolute;
    height: 42px;
    width: 42px;
    background: 0 0;
    color: #0d3e57;
    text-align: center;
    border-radius: 28px;
    border: 2px solid #e3e3e3;
    font-size: 16px;
    line-height: 39px;
    left: 10px;
    top: 10px
}

.payment-detail-accordion .panel .panel-body {
    padding: 30px 20px
}

.payment-detail-accordion .panel .panel-body .form-group input {
    border-radius: 0;
    box-shadow: none;
    border-bottom: 1px solid #e1e1e1;
    border-top: 0 none;
    border-right: 0 none;
    border-left: 0 none;
    padding: 0;
    color: #2d2d2d;
    font-size: 16px
}

.payment-detail-accordion .panel .panel-body .form-group input:focus {
    border-bottom: 1px solid #d51b00
}

.prcd_btn .btn-proceed {
    background: #d51b00;
    color: #fff;
    border-radius: 3px;
    padding: 12px 30px;
    font-size: 18px;
    font-family: inherit;
    font-weight: 500;
    text-transform: uppercase;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .3)
}

.prcd_btn .btn-proceed:hover {
    box-shadow: none
}

.prcd_btn {
    margin-top: 20px
}

.amount {
    margin-bottom: 20px
}

.payment-method .amount h3,
.payment-method .amount i {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 6px;
    margin-top: 0;
    color: #464646
}

.payment-option-list ul li input {
    margin-top: 1px
}

.payment-option-list ul li {
    font-size: 16px;
    margin-left: 30px;
    color: #929292
}

.payment-option-list ul li.active {
    color: #0d3e57;
    box-shadow: none
}

.order-success-msg {
    display: table;
    height: 100%;
    position: relative;
    text-align: center;
    width: 100%
}

.success-message {
    margin-bottom: 20px
}

.order-success-msg .success-content {
    display: table-cell;
    height: 300px;
    vertical-align: middle
}

.media-body,
.order-success-msg .success-content .media {
    width: 380px;
    margin: 0 auto;
    vertical-align: middle
}

.media-body h4,
.order-success-msg .success-content .media {
    color: #0d3e57;
    font-size: 22px
}

.media-body h5,
.order-success-msg .success-content .media {
    text-align: left;
    color: #464646;
    font-size: 18px
}

.order-success-msg .success-content h3 {
    font-size: 15px;
    line-height: 40px;
    color: #455a64;
    font-weight: 400
}

.success-content h3 span {
    display: block;
    line-height: 19px;
    text-transform: capitalize!important;
    font-size: 18px!important
}

.amount-box {
    background: #f9fafb;
    border: 1px solid #e3e3e3;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 0 6px 16px 0 rgba(189, 192, 194, .5);
    text-align: center
}

.amount-box>h1 {
    color: #464646;
    font-size: 18px;
    font-weight: 100;
    line-height: 34px;
    margin-top: 0;
    margin-bottom: 10px
}

.amount-box h1>span {
    font-weight: 700;
    display: block;
    font-size: 24px
}

.amount-box>h4 {
    color: #455a64;
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 12px
}

.amount-box>h5 {
    color: #929292;
    font-size: 14px;
    font-weight: 100
}

.amount-box .btn.btn-payonline {
    background: #d51b00;
    border-radius: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    text-transform: uppercase;
    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .35)
}

.order-detail-container {
    padding: 20px 10px;
    background: #f1f4f7
}

.order-detail-container .detail-list {
    background: #fff;
    border: 1px solid #e3e3e3;
    padding: 10px;
    height: 90px
}

.order-detail-container .detail-list h3 {
    font-size: 12px;
    color: #929292;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 400
}

.order-detail-container .detail-list h4 {
    font-size: 16px;
    color: #0d3e57;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
    text-align: center
}

.order-detail-container button.btn-update {
    background: #f05319;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 30px;
    border-radius: 3px;
    margin-top: 25px
}

.detail-list-mobile-view ul,
.more-option-list ul {
    margin: 0
}

.detail-list-mobile-view ul li {
    padding: 0 12px
}

.detail-list-mobile-view ul li a {
    color: #999;
    font-size: 16px
}

.detail-list-mobile-view ul li.edit-list {
    background: #f9fafb;
    height: 28px;
    width: 28px;
    text-align: center;
    padding: 0;
    line-height: 26px;
    border-radius: 28px
}

.detail-list-mobile-view ul li.edit-list i {
    font-size: 12px;
    color: #f05319
}

.detail-list-mobile-view ul li a:hover {
    text-decoration: none
}

.more-option {
    padding: 20px 10px;
    background: #fff;
    border-bottom: 1px solid #d9e0e4;
    border-top: 1px solid #d9e0e4
}

.more-option-list ul li {
    border: 1px solid #eee;
    cursor: pointer;
    padding: 20px 15px 20px 50px;
    position: relative;
    text-align: center;
    background: #f9fafb;
    border-radius: 5px;
    text-transform: uppercase;
    color: #929292;
    font-size: 15px;
    margin-right: 60px
}

.more-option-list ul li span.ico {
    background: #fff;
    border: 1px solid #d9e0e4;
    border-radius: 28px;
    left: 10px;
    padding: 6px;
    position: absolute;
    text-align: center;
    top: 12px
}

.available-trip-food {
    background: #fff;
    padding: 40px
}

.available-trip-food h1 {
    font-size: 16px;
    color: #464646;
    font-weight: 400;
    position: relative;
    margin-bottom: 25px
}

.available-trip-food h1::after {
    position: absolute;
    content: '';
    height: 1px;
    background: #ddd;
    width: 440px;
    left: 0;
    top: 25px
}

.available-food .carousel-inner .item .media {
    margin-bottom: 10px
}

.available-food .carousel-inner .item .media .media-left {
    padding-right: 0
}

.available-food .carousel-inner .item .media .media-body {
    background: #fff;
    position: relative;
    padding: 10px;
    border-radius: 0 4px 4px 0
}

.available-food .carousel-inner .item .media .media-body h3 {
    color: #0d3e57;
    font-size: 15px
}

.available-food .carousel-inner .item .media .media-body h4 {
    color: #0d3e57;
    font-size: 15px;
    margin-top: 20px
}

.available-food .carousel-inner .item .media .media-body h5 {
    color: #607d8b;
    font-size: 11px;
    margin-top: 20px;
    margin-bottom: 0;
    font-weight: 400
}

.available-food .carousel-inner .item .media .media-body .non-veg,
.available-food .carousel-inner .item .media .media-body .veg {
    position: absolute;
    right: 10px;
    top: 10px
}

.available-food .carousel-inner .item .media .media-body .add-food {
    background: #d51b00;
    border-radius: 3px;
    color: #fff;
    padding: 8px 20px;
    position: absolute;
    right: 10px;
    bottom: 10px;
    cursor: pointer
}

.available-food .carousel-inner .item .media .media-body p {
    color: #929292;
    font-size: 11px
}

.available-food .carousel-inner .item .media .media-left img {
    margin: 0;
    border-radius: 4px 0 0 4px
}

.available-food .carousel-control .icon-next,
.available-food .carousel-control .icon-prev {
    background: #fff;
    border-radius: 28px;
    font-size: 38px;
    height: 50px;
    line-height: 40px;
    border: 1px solid #929292;
    width: 50px
}

.track-order-container {
    background: #fff;
    border-top: 1px solid #d9e0e4;
    border-bottom: 1px solid #d9e0e4;
    padding: 30px 0
}

.recent-order-container h1,
.track-order-container h1 {
    font-size: 22px;
    color: #0d3e57;
    margin-bottom: 30px
}

.track-order .form-group input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor currentcolor #e1e1e1;
    border-image: none;
    border-radius: 0;
    border-style: none none solid;
    border-width: 0 0 1px;
    box-shadow: none;
    padding: 0;
    width: 93%;
    position: relative;
    font-size: 18px
}

.track-order .form-group input:focus {
    border-color: #d51b00
}

.track-order .form-group button.btn-track {
    background: #d51b00;
    color: #fff;
    border-radius: 0;
    padding: 15px 55px;
    margin-top: -18px;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px
}

.track-order .form-group span {
    position: absolute;
    left: 4px;
    top: 4px
}

.track-order .form-group span i {
    color: #d51b00;
    font-size: 26px
}

.track-order .form-group input.order-id {
    margin-left: 30px
}

.track-order .form-group input.phone-number {
    margin-left: 32px;
    width: 90%
}

.track-order .form-group span.mobile {
    left: 10px;
    top: 10px
}

.recent-order-container {
    background: #f1f4f7;
    padding: 30px 0
}

.recent-order-box {
    margin-bottom: 20px
}

.recent-order-box .order-box {
    background: #f9fafb;
    border-radius: 4px;
    box-shadow: 0 3px 6px -1px rgba(0, 0, 0, .4);
    padding: 20px;
    cursor: pointer;
    border: 1px solid #e3e3e3;
    margin-bottom: 10px
}

.recent-order-box .order-box.active {
    border: 1px solid #d51b00;
    background: #fff
}

.order-item-container .order-detail h3,
.recent-order-box .order-box .order-detail h3 {
    color: #929292;
    font-size: 14px;
    text-transform: uppercase
}

.order-item-container .order-detail h3 span,
.recent-order-box .order-box .order-detail h3 span {
    color: #0d3e57;
    font-size: 18px
}

.order-item-container .order-detail h4,
.recent-order-box .order-box .order-detail h4 {
    color: #0d3e57;
    font-size: 14px
}

.order-detail h5,
.recent-order-box .order-box .order-detail h5 {
    color: #0d3e57;
    font-size: 14px;
    text-transform: uppercase
}

.recent-order-box .order-box .order-status h3 {
    font-size: 15px;
    color: #0d3e57;
    text-transform: uppercase
}

.recent-order-box .order-box .order-status button.btn-status {
    background: #fff;
    border: 1px solid #d51b00;
    font-size: 16px;
    text-transform: uppercase;
    color: #d51b00;
    padding: 10px 20px;
    font-family: inherit;
    border-radius: 0;
    font-weight: 500
}

.recent-order-box .order-box.active .order-status button.btn-status {
    opacity: .54
}

.recent-order-container .order-item-container {
    background: #fff;
    border: 1px solid #d4dce1;
    padding: 20px
}

.order-item-list ul li {
    background: #f9fafb;
    border-radius: 3px;
    border: 1px solid #d4dce1;
    margin-bottom: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    color: #929292;
    position: relative;
    cursor: pointer
}

.order-item-list ul li.pay {
    background: #d51b00;
    color: #fff;
    border: 1px solid #d51b00
}

.order-item-list ul li span.ico {
    background: #fff;
    position: absolute;
    left: 10px;
    height: 30px;
    width: 30px;
    border: 1px solid #eee;
    border-radius: 28px;
    line-height: 28px;
    top: 15px
}

.order-item-list ul li span i {
    color: #d51b00
}

.item-list-detail .date-deliver h3 {
    color: #0d3e57;
    font-size: 14px;
    text-transform: uppercase
}

.item-list-detail {
    margin-bottom: 55px
}

.item-list-detail .item-status button.btn-item-status {
    background: #fff;
    border: 1px solid #d51b00;
    font-size: 14px;
    text-transform: uppercase;
    color: #d51b00;
    padding: 10px 30px;
    font-family: inherit;
    border-radius: 0;
    font-weight: 400;
    opacity: .6
}

.order-item-lists .single-item {
    margin-bottom: 10px;
    border: 1px solid #eee;
    border-radius: 0 3px 3px 0
}

.order-item-lists .single-item .item-name h2 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 21px;
    color: #303030;
    position: relative
}

.order-item-lists .single-item .item-price h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 21px;
    color: #7e7e7e;
    position: relative
}

.order-item-lists .single-item .item {
    position: relative
}

.order-item-lists .single-item .item-quantity {
    width: 100px
}

.order-item-lists .single-item .item span.veg {
    position: absolute;
    right: 30px;
    top: 2px
}

.single-item .item-img img {
    margin-left: -15px
}

.item-total-container>p {
    color: #929292;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 0
}

.item-total-container>h4,
.item-total-container>span {
    color: #0d3e57;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase
}

.item-total-container h5 span {
    background: #188159;
    border-radius: 100%;
    color: #fff;
    height: 28px;
    left: 0;
    line-height: 28px;
    position: absolute;
    text-align: center;
    top: -6px;
    width: 28px
}

.item-total-container h5 {
    color: #188159;
    font-size: 15px;
    margin-top: 20px;
    padding-left: 38px;
    position: relative;
    text-transform: uppercase
}

.ac_results {
    padding: 0;
    border: 1px solid #DDD;
    background-color: #fff;
    overflow: hidden;
    width: 430px!important;
    margin-left: -10px;
    margin-top: -1px
}

.ac_results ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0
}

.ac_results li {
    margin: 0;
    padding: 14px;
    display: block;
    color: #505050;
    font-family: inherit;
    cursor: pointer;
    font-size: 14px;
    line-height: 16px;
    overflow: hidden;
    border-bottom: 1px solid #ddd
}

.ac_results li:last-child {
    border-bottom: 0 none
}

.ac_odd {
    background-color: #FFF
}

.ac_over:hover {
    background-color: rgba(57, 63, 77, .55);
    color: #fff
}

.hero-padded {
    padding-top: 180px;
    position: relative;
    margin-bottom: 20px
}

.background-2 {
    background: url(https://desktop.travelkhana.com/img/bg3.jpg) no-repeat;
    background-size: 100%;
    height: 446px
}

.hero-padded h1 {
    font-weight: 400;
    font-size: 48px;
    color: #fff;
    line-height: 70px;
    margin-bottom: 33px;
    text-align: center
}

.input_bg {
    background: #fff;
    display: inline-block;
    padding: 0;
    border-radius: 2px 0 0 2px;
    height: 57px;
    position: relative
}

.search-form .form-group i {
    cursor: pointer
}

.input_bg .last span {
    background: #f5f5f5;
    border-right: 1px solid #e1e1e1;
    font-size: 11px;
    height: 57px;
    line-height: 57px;
    position: absolute;
    right: 91.2222%;
    text-align: center;
    width: 24px;
    top: 0;
    z-index: 99
}

form#srchForm {
    text-align: center
}

.input_bg .form-group {
    border-right: 1px solid #e1e1e1;
    padding: 10px 6px;
    position: relative;
    height: 57px
}

.form-group.first_portion.inactive,
.form-group.first_portion.inactive input,
.form-group.last.second_portion.inactive,
.form-group.last.second_portion.inactive input {
    background: #eee;
    cursor: no-drop
}

.input_bg .form-group .datepicker {
    margin-top: 0!important
}

.input_bg .form-group:last-child {
    border-right: 0 none
}

.input_bg .form-group input {
    border-left: 0 none;
    border-radius: 0;
    border-right: 0 none;
    border-top: 0 none;
    box-shadow: none;
    border-bottom: 1px solid #e1e1e1;
    font-size: 16px;
    font-family: inherit;
    color: #2d2d2d;
    padding: 0;
    line-height: 32px;
    outline: 0
}

.error::-moz-placeholder {
    color: #d51b00!important
}

.form-group input.error {
    border-bottom: 1px solid #d51b00!important;
    color: #d51b00
}

.input_bg .form-group.last {
    border-right: 0 none;
    color: #2d2d2d;
    padding: 10px 10px 0 34px
}

.input_bg .form-group input:focus {
    color: #2d2d2d;
    border-color: #d51b00
}

.hero-padded .form-control.error {
    border-color: red;
    color: #f95858
}

.hero-padded .form-control.error::placeholder {
    color: #f95858
}

.hero-padded .form-control.error::-webkit-placeholder {
    color: #f95858
}

#inner_form .form-control.error::placeholder {
    color: #f95858
}

#inner_form .form-control.error::-webkit-placeholder {
    color: #f95858
}

.input_bg .form-group i {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #4d4d4d;
    font-size: 14px
}

.form-inline .btn.btn-search {
    background: #d51b00;
    color: #fff;
    height: 57px;
    margin-left: -4px;
    font-size: 18px;
    font-family: inherit;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0 26px;
    border-radius: 0 2px 2px 0
}

ul.app-dwnld li {
    padding: 10px 0 0 20px
}

ul.app-dwnld li i {
    color: #fff
}

.datepicker-days table tr th { 
    text-align: center; 
} 
 
.datepicker-days tbody tr td { 
    text-align: center; 
} 
 
 
.dropdown-menu { 
    z-index: 999; 
}


.datepicker.dropdown-menu .table-condensed>tbody>tr>td,
.datepicker.dropdown-menu .table-condensed>tbody>tr>th {
    padding: 2px;
    font-size: 12px;
    line-height: 21px
}

.mobile-view .panel {
    border-radius: 0
}

.or,
.or>span {
    border-radius: 3px
}

.mobile-view .panel-heading {
    padding: 5px 10px
}

.mobile-view .panel-body {
    padding: 0
}

.or {
    font-size: 12px;
    margin: 10px auto;
    position: relative
}

.or::after,
.or::before {
    background: #fff;
    content: "";
    height: 1px;
    position: absolute;
    top: 13px;
    width: 140px
}

.or::before {
    left: 0
}

.or::after {
    right: 0
}

.or>span {
    background: #ddd;
    color: #000;
    padding: 6px
}

.mobile-view .panel .panel-body .form-group {
    margin-bottom: 0
}

section#works {
    padding-top: 20px;
    padding-bottom: 40px
}

.main_heading {
    position: relative;
    margin-bottom: 40px
}

.download-app .main_heading::before,
.main_heading::before {
    content: '';
    height: 2px;
    width: 100px;
    position: absolute;
    top: 45px;
    right: 46%;
    z-index: 999
}

.download-app .overview-text,
.work-box h4 {
    margin-bottom: 20px
}

.main_heading::before {
    background-color: #188159
}

.main_heading h2 {
    font-size: 24px;
    font-weight: 400;
    color: #464646
}

#our-app .main_heading h2 {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    text-align: center
}

.work-box h3,
.work-box h4 {
    color: #464646;
    font-size: 18px
}

.work-box h4 {
    font-weight: 400
}

.work-box h3 {
    font-weight: 300
}

.download-app {
    background-color: #006064;
    padding-top: 20px;
    padding-bottom: 0;
    color: #fff
}

.download-app .main_heading h3 {
    color: #fff;
    text-align: center
}

.download-app .main_heading::before {
    background-color: #aedd94
}

.download-app .overview-text h3 {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    line-height: 26px
}

.image-holder img {
    margin-top: -60px
}

.our-reviews {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 40px;
    color: #fff
}

.carousel-indicators .active {
    background: #31708f
}

.adjust1 {
    float: left;
    width: 100%;
    margin-bottom: 0;
    border: 0
}

.adjust2 {
    margin: 0
}

/*enuke 10 cot 2017*/
.carousel {
    position: relative;
    padding: 0px 50px;
}

.carousel-indicators li {
    border: 1px solid #ccc
}

.carousel-control {
    color: #31708f;
    width: 0;
    opacity: 1;
    text-shadow: none
}

#review .thumbnail .caption {
    margin: 0 auto;
    padding: 15px;
    width: 100%;
    position: relative;
}

#review .thumbnail .caption p {
    font-style: italic;
    font-size: 15px;
    font-weight: 400
}

#review .thumbnail .caption::after {
    content: url(https://desktop.travelkhana.com/img/quote-up.png);
    position: absolute;
    left: 0;
    top: -2px
}

#review .thumbnail .caption::before {
    content: url(https://desktop.travelkhana.com/img/quote-bottom.png);
    position: absolute;
    right: 0;
    bottom: -5px
}

.carousel-control:focus,
.carousel-control:hover {
    color: #31708f
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next,
.carousel-control .icon-prev {
    font-size: 20px;
    color: #455a64
}

.carousel-control.left,
.carousel-control.right {
    background-image: none
}

.media-object {
    margin: 6% auto auto
}

#blog {
    padding-top: 20px;
    padding-bottom: 40px;
    color: #999
}

.highlight {
    background: #f1f4f7
}

#blog button.btn-read-more {
    background: #d51b00;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 12px;
    font-family: inherit
}

#clear_cart.modal {
    z-index: 999999
}

#cancel_order .modal-dialog,
#cancel_reason .modal-dialog,
#clear_cart .modal-dialog {
    display: table;
    margin: -100px -140px 0 0;
    position: absolute;
    right: 50%;
    text-align: center;
    top: 45%;
    width: 280px;
    box-shadow: 2px 3px 0 1px transparent
}

#cancel_reason .modal-body {
    padding: 0
}

#cancel_order .modal-content,
#cancel_reason .modal-content,
#clear_cart .modal-content,
#online_payment .modal-content {
    position: relative;
    display: table-cell;
    vertical-align: middle
}

#clear_cart .modal-content .close,
#online_payment .modal-content .close {
    font-size: 32px;
    font-weight: 400;
    position: absolute;
    right: 15px;
    top: 10px;
    z-index: 999
}

#clear_cart .modal-content img {
    width: 50px
}

#clear_cart .modal-content h3 {
    font-weight: 400;
    color: #455a64;
    font-size: 12px
}

#cancel_order .modal-content h3 {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 0;
    text-align: left
}

#cancel_order .modal-content .confirm_btn {
    margin-bottom: 10px
}

#clear_cart .modal-content h2 {
    font-size: 16px;
    font-weight: 100;
    color: #464646
}

#clear_cart .modal-content .modal-body .btn-go {
    background: #d51b00;
    color: #fff;
    border-radius: 3px;
    font-weight: 400;
    padding: 5px 20px
}

#cancel_order .modal-content .modal-body .btn-go {
    background: #d51b00;
    color: #fff;
    border-radius: 2px;
    font-weight: 400;
    padding: 5px 30px
}

#cancel_reason .modal-content .modal-body .btn-select {
    background: #d51b00;
    color: #fff;
    border-radius: 0;
    font-weight: 400;
    padding: 8px 30px;
    width: 100%;
    font-family: inherit;
    text-transform: uppercase
}

#cancel_reason .modal-body h3 {
    font-size: 12px;
    font-weight: 400;
    padding: 0 10px;
    text-align: left
}

#cancel_reason .modal-body .list-group {
    padding: 0 10px
}

#cancel_reason .modal-body .list-group .list-group-item {
    padding: 5px 10px;
    border-radius: 0;
    border-color: #ddd;
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    font-family: inherit
}

#cancel_reason .modal-body .list-group .list-group-item.active {
    background: 0 0;
    color: #d51b00;
    font-weight: 700
}

#clear_cart .modal-content .modal-body .btn-cancel {
    background: #464646;
    color: #fff;
    border-radius: 3px;
    font-weight: 400;
    padding: 5px 20px
}

#cancel_order .modal-content .modal-body .btn-cancel {
    background: #464646;
    color: #fff;
    border-radius: 2px;
    font-weight: 400;
    padding: 5px 30px
}

#online_payment .modal-content .modal-body button.btn-pay-online {
    background: #d51b00;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 14px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .5);
    width: 50%
}

.page-heading h1,
.page-heading span {
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-family: inherit
}

#online_payment .modal-content .modal-body button.btn-pay-online:hover {
    box-shadow: none
}

#online_payment .modal-dialog {
    width: 480px;
    display: table;
    margin: 40px auto
}

#online_payment .panel {
    border-radius: 0;
    border: 0;
    box-shadow: none
}

#online_payment .panel .panel-footer,
#online_payment .panel .panel-heading {
    background: 0 0;
    padding: 10px 0
}

#online_payment .panel .panel-body {
    padding: 15px 0
}

#online_payment .modal-body .panel .panel-body ul li {
    width: 19%;
    margin-right: 0
}

#online_payment .modal-body .panel .radio {
    margin: 5px 0 0
}

#online_payment .modal-body .panel .checkbox {
    margin: 8px 0
}

#online_payment .modal-body .panel .checkbox input[type=checkbox],
#online_payment .modal-body .panel .radio input[type=radio] {
    top: 2px
}

.page-content {
    padding-top: 70px
}

#inner-page-content {
    background: #fff;
    font-family: inherit;
    padding-top: 10px
}

.page-heading.img-v1 {
    background: url(https://desktop.travelkhana.com/img/img1.png) center center/cover no-repeat rgba(0, 0, 0, 0)
}

.page-heading {
    padding: 100px 0;
    position: relative;
    z-index: 1;
    transition: all .8s ease-in-out 0s
}

.page-heading h1 {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 10px
}

.page-heading span {
    font-size: 18px
}

#inner-page-content .about-content {
    padding: 10px 0 40px
}

#inner-page-content .about-content p {
    text-align: justify;
    color: #455a64;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400
}

#inner-footer .divider {
    margin-bottom: 20px;
    margin-top: 20px
}

#inner-footer .quick-links ul li a {
    color: #696969;
    font-size: 15px
}

.subscribe-from h2 {
    color: #696969;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 5px;
    font-weight: 400
}

.subscribe-from>.follow-us-list {
    padding-top: 20px
}

.subscribe-from>.follow-us-list ul li a i.circle {
    border: 1px solid #d51b00;
    border-radius: 28px;
    height: 36px;
    line-height: 35px;
    text-align: center;
    width: 36px;
    color: #d51b00
}

.subscribe-from .input-group input {
    border: 1px solid #d4dce1;
    border-radius: 0!important;
    height: 45px
}

.subscribe-from .input-group-btn button.btn-subscribe {
    height: 45px;
    border-radius: 0;
    background: #d51b00;
    color: #fff
}

#inner-footer {
    background: #f9fafb;
    font-family: inherit;
    padding: 10px 0 0;
    border-top: 1px solid #d4dce1
}

.inner-footer-bottom {
    background: #eff0f1;
    padding: 10px
}

.inner-footer-bottom .more-links ul>li>a,
.inner-footer-bottom p {
    color: #a5a5a6;
    font-family: inherit
}

.mobile-cart-view {
    background: #ea7201;
    border-radius: 100%;
    bottom: 10px;
    cursor: pointer;
    height: 50px;
    line-height: 30px;
    position: fixed;
    right: 10px;
    text-align: center;
    width: 50px
}

.mobile-cart-view h5,
.mobile-cart-view i {
    font-size: 12px;
    font-weight: 200;
    line-height: 0;
    text-transform: uppercase;
    margin: 0;
    color: #fff
}

#ItemDetail .modal-body .table-responsive {
    border: 0;
    margin-bottom: 0
}

#ItemDetail .modal-body .table-responsive>.table>tbody>tr>td {
    font-size: 12px;
    padding: 5px;
    vertical-align: middle
}

#ItemDetail .modal-content button.close {
    color: #000;
    font-weight: 400;
    opacity: 1;
    position: absolute;
    right: 5px;
    text-shadow: none;
    top: 3px;
    z-index: 9999
}

#ItemDetail .modal-body {
    padding: 10px 0 0
}

#ItemDetail .modal-footer {
    padding: 5px;
    text-align: left;
    position: relative
}

#ItemDetail .modal-footer .footer-divider {
    background: #ddd;
    bottom: 28px;
    height: 1px;
    left: -28px;
    position: absolute;
    width: 288px
}

#ItemDetail.modal {
    top: 15%
}

#ItemDetail .modal-dialog {
    padding: 25px
}

#ItemDetail .modal-footer h4 {
    margin-bottom: 5px;
    margin-top: 5px
}

#ItemDetail .modal-header {
    border-bottom: 0 none;
    padding: 10px 0 0
}

#train-list-modal .modal-dialog {
    margin: 10px auto;
    width: 320px
}

#train-list-modal .modal-body ul li {
    padding: 10px
}

#train-list-modal .modal-body {
    padding: 0;
    border-radius: 0
}

#train-list-modal .modal-content {
    border-radius: 0
}

#train-list-modal .modal-body ul {
    margin: 0
}

.footer-top-area {
    background: #37474f;
    color: #fff;
    padding: 20px
}

.footer-bottom-area {
    background: #2d3a41;
    color: #fff;
    padding: 10px 0
}

.more-links {
    text-align: right
}

.footer-top-area .quick-links {
    margin-bottom: 20px
}

.quick-link-list>ul>li>a {
    font-size: 14px;
    color: #fff;
    position: relative;
    padding-left: 10px
}

.quick-link-list>ul>li>a>i {
    font-size: 18px;
    position: absolute;
    top: 0;
    left: -16px
}

.quick-link-list>ul>li>a:hover {
    color: #d51b00
}

.follow-us-list ul li a i.circle {
    border: 1px solid #91e4fb;
    border-radius: 28px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    width: 44px
}

/*enuke 10 oct 2017*/
.follow-us-list ul li a i.circle.fa.fa-linkedin {
    line-height: 40px;
    padding-left: 2px;
}

.follow-us-list {
    margin: 10px 0 20px
}

.follow-us-list ul li a i {
    font-size: 20px;
    color: #91e4fb
}

.follow-us-list ul li a i:hover,
.follow-us-list ul li a i:hover .circle {
    border: 1px solid #91e4fb;
    background-color: #fff;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out
}

.copyright-text {
    color: #fff;
    margin: 0
}

.copyright-text ul li {
    padding-left: 15px;
    padding-right: 15px
}

.copyright-text ul li a {
    color: #fff
}

.copyright-text p {
    margin-bottom: 0;
    font-size: 12px
}

.more-links ul {
    padding: 0;
    margin: 0
}

.more-links ul li,
.more-links ul li a {
    font-size: 12px;
    color: #fff;
    font-weight: 400
}

.about-text>h4 {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 4px
}

.about-text>p {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 0;
    text-align: justify
}

.scrollToTop {
    text-align: center;
    background: #d51b00;
    color: #fff;
    position: fixed;
    bottom: 10px;
    height: 45px; /*enuke 10 cot 2017*/
    width: 45px;/*enuke 10 oct 2017*/
    border-radius: 28px;
    right: 10px;
    z-index: 999999;
    display: none;
    opacity: .8;
    line-height: 0;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s
}
/*enuke 10 oct 2017*/

.scrollToTop i {
    color: #fff;
    z-index: 9999;
    position: absolute;
    left: 15px;
    top: 8px;
    line-height: 28px;
    font-size: 17px;
    font-weight: 400;
}

.back-to-order h3,
.order-summary h3 {
    font-size: 18px;
    margin: 0
}

.form-inline .btn.btn-search:focus {
    outline: 0
}

.order-summary {
    border-width: 1px;
    border-color: #d4dce1;
    border-style: solid;
    background-color: #fff;
    padding: 10px 20px;
    position: relative
}

.order-summary h3 {
    color: #303030;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0
}

.back-to-order {
    background: #fff;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    padding: 7px 0;
    position: relative
}

.back-to-order h1 > a {
    float: left;
    height: 40px;
    width: 40px;
}

.back-to-order a > img {
    margin-left: 11px;
}

.cart-add-mobile-number-detail {
    padding: 30px 0!important;
    margin: 0
}

.add-ons {
    border-width: 1px;
    margin: 20px auto;
    border-color: #d4dce1;
    border-style: solid;
    border-radius: 14px;
    box-shadow: 0 6px 16px 0 rgba(189, 192, 194, .5);
    padding: 20px
}

.add-ons h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px
}

.mobile-number-field input {
    border-radius: 0;
    border-top: 0 none;
    border-bottom: 1px solid #e1e1e1;
    border-left: 0 none;
    border-right: 0 none;
    box-shadow: none;
    padding: 0
}

.order-item-lists .single-item .last-item {
    margin-top: 20px
}

.train-name-time h1,
.train-name-time h2 {
    font-size: 14px;
    margin: 0
}

.train-name-time h1 {
    color: #929292
}

.train-name-time {
    padding: 20px 0
}

.checkout-mobile-view .item-total-container p {
    margin: 10px
}

.checkout-mobile-view .item-total-container p.checkout-total {
    color: #000;
    font-size: 18px;
    font-weight: 600
}

.add-ons a.right.carousel-control {
    top: 45%;
    font-size: 60px;
    right: 15px
}

.add-ons a.left.carousel-control {
    top: 45%;
    font-size: 60px;
    left: 15px
}

.payment-detail span.del_date {
    color: #929292;
    display: block;
    font-size: 15px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: right
}

.ac_over {
    background-color: #DFDFDF;
    color: #000
}

.pass_detail_box ul {
    margin: 30px 0 0
}

.pass_detail_box ul li {
    border-right: 1px solid #ddd;
    padding-left: 35px;
    padding-right: 35px;
    text-align: left;
    height: 70px;
    position: relative
}

.pass_detail_box ul li h1 {
    font-size: 14px;
    font-weight: 400;
    color: #929292
}

.pass_detail_box>ul>li>h3 {
    color: #0d3e57!important;
    font-size: 17px!important;
    margin: 0;
    line-height: 24px!important
}

.pass_detail_box ul li span {
    position: absolute
}

.pass_detail_box ul li:last-child {
    border-right: 0 none
}

.order-success-msg .success-content button.btn-update {
    background: #d51b00;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 40px;
    border-radius: 0;
    margin-top: 25px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .35)
}

#UpdateDetail .modal-dialog {
    width: 420px;
    margin: 90px auto
}

#UpdateDetail .modal-dialog .modal-header {
    border-bottom: 0 none;
    padding: 10px
}

#UpdateDetail .modal-dialog .modal-header h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 6px;
    font-size: 16px;
    color: inherit
}

#UpdateDetail .form-group input {
    border-left: 0 none;
    border-radius: 0;
    border-right: 0 none;
    border-top: 0 none;
    box-shadow: none;
    border-bottom: 1px solid #e1e1e1;
    font-size: 16px;
    font-family: inherit;
    color: #2d2d2d;
    padding: 0
}

#UpdateDetail .form-group input:focus {
    border-color: #d51b00
}

#UpdateDetail button.btn-update-detail {
    background: #d51b00;
    border-radius: 2px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .35);
    padding: 10px 20px;
    font-size: 14px;
    width: 100%
}

.airtel-money,
.ebuddy-logo,
.freecharge,
.icc-logo,
.idea-money-app,
.jio-money,
.m-pesa,
.mobikwik,
.momlogo,
.mrupee,
.ola-money,
.oxigen-logo,
.paytm,
.payu,
.payumoney,
.payzapp,
.pockets,
.tmw-trademark,
.zipcash {
    width: 80px;
    height: 80px
}

#UpdateDetail button.btn-update-detail:hover {
    box-shadow: none
}

.airtel-money,
.ebuddy-logo,
.freecharge,
.icc-logo,
.idea-money-app,
.jio-money,
.m-pesa,
.masterpass,
.mobikwik,
.momlogo,
.mrupee,
.ola-money,
.oxigen-logo,
.paytm,
.payu,
.payumoney,
.payzapp,
.pockets,
.tmw-trademark,
.zipcash {
    display: inline-block;
    background: url(https://desktop.travelkhana.com/img/sprite.png) no-repeat;
    overflow: hidden;
    text-indent: -9999px;
    text-align: left;
    cursor: pointer
}

.freecharge {
    background-position: -1px 0
}

.payumoney {
    background-position: -82px 0
}

.tmw-trademark {
    background-position: -163px 0
}

.airtel-money {
    background-position: -244px 0
}

.ebuddy-logo {
    background-position: -1px -81px
}

.icc-logo {
    background-position: -82px -81px
}

.idea-money-app {
    background-position: -163px -81px
}

.jio-money {
    background-position: -244px -81px
}

.m-pesa {
    background-position: -1px -162px
}

.masterpass {
    background-position: -82px -162px;
    width: 80px;
    height: 80px
}

.mobikwik {
    background-position: -163px -162px
}

.momlogo {
    background-position: -244px -162px
}

.mrupee {
    background-position: -1px -243px
}

.ola-money {
    background-position: -82px -243px
}

.oxigen-logo {
    background-position: -163px -243px
}

.paytm {
    background-position: -244px -243px
}

.payzapp {
    background-position: -1px -324px
}

.pockets {
    background-position: -82px -324px
}

.zipcash {
    background-position: -163px -324px
}

.payu {
    background-position: -244px -324px
}

.track-order .single-item h3 {
    font-size: 16px
}

.track-order .single-item .item-price h3 {
    font-size: 16px;
    margin-top: 20px
}

.track-order .single-item .item span.veg {
    top: 20px
}

.pass_detail_mobile {
    border-top: 2px solid #d4dce1;
    border-bottom: 3px solid #d4dce1;
    padding-top: 10px
}

.pass_detail_mobile ul li {
    font-size: 20px;
    color: #999a9a;
    padding: 0 20px;
    font-weight: 700
}

.r_edit {
    background: #f1f4f7;
    border-radius: 50%;
    color: #d51b00;
    cursor: pointer;
    font-size: 28px;
    height: 55px;
    line-height: 1.9;
    width: 55px
}

.item-status {
    float: right
}

.iffyTip {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center
}

.wd100 {
    width: 100%
}

.spinner {
    height: 10px;
    width: 10px;
    margin: 0 auto;
    position: relative;
    -webkit-animation: rotation .6s infinite linear;
    -moz-animation: rotation .6s infinite linear;
    -o-animation: rotation .6s infinite linear;
    animation: rotation .6s infinite linear;
    border-left: 2px solid rgba(238, 99, 44, 1);
    border-right: 2px solid rgba(238, 99, 44, .15);
    border-bottom: 2px solid rgba(238, 99, 44, .15);
    border-top: 2px solid rgba(238, 99, 44, .8);
    border-radius: 100%
}

span.s_name {
    width: 150px;
    word-wrap: break-word;
    float: left
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0)
    }
    to {
        -webkit-transform: rotate(359deg)
    }
}

@-moz-keyframes rotation {
    from {
        -moz-transform: rotate(0)
    }
    to {
        -moz-transform: rotate(359deg)
    }
}

@-o-keyframes rotation {
    from {
        -o-transform: rotate(0)
    }
    to {
        -o-transform: rotate(359deg)
    }
}

@keyframes rotation {
    from {
        transform: rotate(0)
    }
    to {
        transform: rotate(359deg)
    }
}

#accordion1 {
    display: none
}

.second-sectionpop .form-group select {
    border-left: 0 none;
    border-radius: 0;
    border-right: 0 none;
    border-top: 0 none;
    box-shadow: none;
    border-bottom: 1px solid #e1e1e1;
    font-size: 16px;
    font-family: inherit;
    color: #2d2d2d;
    padding: 0;
    line-height: 32px;
    outline: 0
}

.heading-wrap .form-inline .btn.btn-search {
    margin-left: -10px!important;
    padding: 0 20px
}

.heading-wrap .input_bg .form-group {
    padding: 10px 5px
}
.android-img
{
    background:url('https://desktop.travelkhana.com/img/android-btn.png') no-repeat 100%;
    width:177px;
    height:59px;
}

.app-img
{
    background:url('https://desktop.travelkhana.com/img/app-btn.png') no-repeat 100%;
    width:187px;
    height:59px;
}

.vimg-1
{
    background:url('https://desktop.travelkhana.com/img/verified-img-1.png') no-repeat 100%;
    width:71px;
    height:36px;
}

.vimg-2
{
    background:url('https://desktop.travelkhana.com/img/verified-img-2.png') no-repeat 100%;
    width:70px;
    height:38px;
}

.vimg-3
{
    background:url('https://desktop.travelkhana.com/img/verified-img-3.png') no-repeat 100%;
    width:74px;
    height:32px;
}

.vimg-4
{
    background:url('https://desktop.travelkhana.com/img/verified-img-4.png') no-repeat 100%;
    width:70px;
    height:27px;
}

.image-holder 
{
    background: url(https://desktop.travelkhana.com/img/travel-iphone-img.png) no-repeat 100%;
    width: 207px;
    height: 293px;
    float: right;
    /*margin-right: 60px;*/ /*enuke 10 oct 2017 */
}

.work-box .search-train {
    height: 80px;
    width: 60px;
    background-image: url(https://desktop.travelkhana.com/img/search_train.png);
    background-size: inherit;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
}

.work-box .food-option {
    height: 80px;
    width: 80px;
    background-image: url(https://desktop.travelkhana.com/img/food_option.png);
    background-size: inherit;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
}

.work-box .fresh-food {
    height: 80px;
    width: 96px;
    background-image: url(https://desktop.travelkhana.com/img/fresh_food.png);
    background-size: inherit;
    background-repeat: no-repeat;
    margin: 0 auto;
    text-align: center;
}

.main-logo {
    background: url(https://desktop.travelkhana.com/img/logo.png) no-repeat center 100%/80%;
    width: 87px;
    height: 74px;
    margin-top: -15px;
}

.inner-logo
{
    background:url('https://desktop.travelkhana.com/img/inner-logo.png') no-repeat 100%/80%;
    width:87px;
    height:73px;
        margin-top: -15px;
}