.mrTop-50{
	margin-top:50px!important;
}
.mrleft-7{margin-left:-7px!important;}
.form-inline .btn.btn-search {margin-left:-7px!important;}
.no-border{border:none!important;}
.trainTable-bg {
    background: url("https://desktop.travelkhana.com/img/train-tablebg.png")no-repeat;
    height: 240px;
    padding:60px 0;
    background-size: cover;
}
.heading-mb form#srchTimeTableForm {
    margin-bottom: 10px!important;
}
.heading-wrap,.static-heading {
    padding-top: 0;
    text-align: center;
}
.heading-wrap,.static-heading h2 {
    font-size: 24px;
    color: #fff;
}
.heading-wrap p,.static-heading p {
    font-size: 18px;
    color: #fff;
}
.or-text {
    padding: 19px 3px 20px;
    border-right: 1px solid #e1e1e1;
    left: -4px;
    background: #f5f5f5;
    position: relative;
}
.or-rail{
    padding: 22px 3px 18px!important;
    font-size:14px;
    color:#333;
    left: -6px!important;
}
.trainTable-wrap {
    margin: 30px 0 20px;
}
.trainTable-wrap h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 30px;
    margin-top: 40px;
    color: #363636;
}
.trainTable-wrap p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.4;
}
.head-icon {
    background: #6f6f6f none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin: 0 auto 25px;
    width: 276px;
    position: relative;
}
.head-icon:after {
    background: #fff url("https://desktop.travelkhana.com/img/heading-icon.png") no-repeat scroll 7px 0;
    content: "";
    height: 36px;
    left: 95px;
    position: absolute;
    top: -14px;
    width: 70px;
    z-index: 10;
}
.sub-trainheading h4 {
    font-size: 18px;
    color: #363636;
    margin: 20px 0 0;
}
.sub-trainheading p {
    margin-top: 0px;
}
.train-scheduleCont > h4 {
    margin-top: 20px;
}
.schedule-list {
    padding: 0 0 0 15px;
}
.schedule-list li {
    line-height: 1.4;
    list-style: outside none none;
    position: relative;
}
.schedule-list li::after {
    color: #d48614;
    content: "• ";
    font-size: 35px;
    left: -17px;
    position: absolute;
    top: -13px;
}
/*--------train timetable page css start------*/

.table-sec {
    margin: 40px 0 20px;
}
.trainTime-bg {
    background: url("https://desktop.travelkhana.com/img/train-timebg.png")no-repeat;
    padding:60px 0;
    background-size: cover;
}
.heading-wrap h1 {
    margin-top: 0;
}
.table-train tr {
    font-size: 15px;
}
.tabel-head {
    font-size: 18px;
    background: #ebebeb;
    text-transform: uppercase;
}
.station-name {
    font-weight: normal;
}
.status-table-detail table tbody tr td span.stauts-check {
    color: #7ab900;
    text-transform: uppercase;
}
/*-----------Seat availability1 page css start------*/

#jDate1,
#jDateseat2 {
    cursor: pointer;
}
.availability-bg {
    background: url("https://desktop.travelkhana.com/img/seat-aval1bg.png")no-repeat;
    padding:60px 0;
    background-size: cover;
}
.availability-content {
    padding: 10px 0 20px 0px;
}
.avail-wrap h3 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 25px;
    margin-top: 0px
}
.avail-wrap p {
    margin-top: 20px;
    font-size: 15px;
    line-height: 1.4;
}
.avail-wrap h4 {
    margin-top: 15px;
}
.avail-wrap {
    padding-top: 20px;
}
.avail-wrap ul {
    padding-left: 15px;
}
.train-classes {
    margin-bottom: 25px;
}
.train-classes h4 {
    font-size: 18px;
    margin: 20px 0 4px;
}
.train-classes p {
    margin: 0px;
    font-size: 15px;
    line-height: 1.4;
}
.disclaimer-list {
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 15px;
}
.disclaimer-list li {
    list-style: none;
    margin-top: 18px;
    position: relative;
    line-height: 1.3;
}
.disclaimer-list li:after {
    content: "• ";
    color: #d48614;
    font-size: 35px;
    left: -16px;
    position: absolute;
    top: -10px;
}
.select-class label {
    font-size: 20px;
    margin: 25px 0 15px;
}
.select-class >.form-control {
    font-size: 15px;
    border: 1px solid #dadada;
    max-width: 100%;
    width: 100%;
	border-radius:3px;
}
.select-class >.form-control:focus {
    border-color: #dadada;
}
.train-det {
    background: #ebebeb;
    color: #363636;
    font-size: 15px;
    font-weight: 700;
    text-align: left!important;
}
.class-details {
    margin-top: 30px;
}
.tab-tr tr td {
    text-align: center;
}
.class-name li {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    line-height: 1.4;
    margin: 0 8px;
    padding: 5px;
    width: 200px;
}
.class-name li:hover {
    background: #ebc895;
}
.days li {
    color: #a6a6a6;
    margin: 0px 5px;
    font-weight: 700;
}
.days li:hover {
    color: #333;
}
.avail-seat {
    border: 1px solid #dadada;
    font-size: 15px;
    color: #a6a6a6;
}
.avail-seat ul {
    margin: 0px;
}
.avail-seat ul li {
    /*border-right: 1px solid #dadada;*/
    /*max-width: 32%;*/
    max-width: 49%;
    padding: 15px 18px;
    text-align: center;
    width: 100%;
}
.avail-seat ul li:last-child {
    border: none;
}
.avail-date {
    font-style: normal;
    display: block;
}
.avial-num {
    border: 2px solid #dadada;
    border-radius: 28px;
    color: #0f9f00;
    display: block;
    font-size: 16px;
    margin-top: 10px;
    padding: 8px;
}
.train-popup,.sourcedest-popup{
	color:#606060;
	font-size:16px;
	text-align:right;
	padding:10px;
	cursor:pointer;
	
}
/*------popular-trainList page css start here-------*/

.popular-trainWrap {
    padding: 20px 0px 30px 0px;
}
.popular-train > li {
    font-size: 15px;
    line-height: 1.4;
    list-style: outside none none;
    padding: 4px 0;
    position: relative;
}
.popular-train > li i {
    color: #999a9a;
    padding-right: 5px;
}
.viewMore-link {
    color: #d00f0f;
    display: block;
    font-size: 15px;
    margin-top: 7px;
    margin-left: 25px;
}
.viewMore-link:hover {
    color: #d00f0f;
    text-decoration: none;
}
.input-width{
	width:50%;
}
.input-width .form-group {
	width:100%;
}
.input-width .form-group input {width:100%; font-size: 16px!important;}
/*-------request-callback page css start here-------*/

.req-callback-bg {
    background: url("https://desktop.travelkhana.com/img/req-call.png")no-repeat 100%/cover;
    padding:60px 0;
    margin-bottom: 10px;
}
.back-to-order{
		display:none;
}


/*---------------train-track page csss------*/
.btn-group{
	display:block;
	margin-top: 25px;
}
.btn-arival{
	border:1px solid #d51b00;
	color:#fff;
	margin:0px 20px!important;
	font-size:24px;
	background:#d51b00;
	float:none!important;
	border-radius:4px!important;
	width:175px;
}
.btn-arival:hover{
	color:#fff!important;
}
.paddingTop-25{
	padding-top:25px!important;
}
.late-train,.on-time{
	background: #fff2f2;
    border-radius: 7px;
    font-size: 16px;
    padding: 15px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
	margin:25px 0px;
}
.late-train span,.on-time span{
	display:block;
	line-height:1.3;
}
.late-train span strong, .on-time span strong{
	color:#333;
}
.warning{
	color:#d51b00!important;
}
.success{
	color:#278a00!important;
}
.on-time{
	background:#f4f9f2;
}
/*-----train-track2 page css-----*/
.dept-timing h3{
	font-size:18px;
	text-decoration:underline;
}
.dept-tabel {
    padding: 0;
	overflow:hidden;
	font-size:15px;
	 box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	 margin:15px 0px;
}
.dept-tabel > li {
    border-right: 1px solid #b7b7b7;
    float:left;
    max-width:169.5px;
    width: 100%;
	list-style:none;
	
}
/*.dept-tabel > li:last-child{
	border:none;
}*/
.dept-head {
    background: #cccccc;
    display: block;
    padding: 15px 10px;
	font-weight:700;
	color:#363636;
	margin:0px!important;
	font-size:15px!important;
	
}
.dept-tabel > li  span{
	 display: block;
    font-size: 12px;
    margin: 15px 10px;
    vertical-align: middle;
}
.more-info li{
	width:100%;
	max-width:211.8px;
}
.prev-btn {
    background: #7f7f7f;
    border: 1px solid #333;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin: 20px 20px 20px 0px;
    padding: 16px 0;
    text-align: center;
    width: 185px;
}
.next-btn{
	  border: 1px solid #ff0000;
	  background:#ff0000;
}
.prev-btn:hover,.prev-btn:focus{
	color:#fff;
	text-decoration:none;
}
.view-dropdown {
   background: #ffff none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 0 -9px 16px #aaa inset;
    width: 100%
}
.dropdown-btn{
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    font-size: 16px;
    font-weight: 700;
	width:100%;
	text-align:left;
}
.dropdown-wrap {
	width:100%!important;
	padding:0px;
	margin:0px;
}
.dropdown-wrap>.dropdown-item{
    border-bottom: 1px solid #ccc!important;
    cursor: pointer!important;
    margin:0px;
    padding: 10px!important;
}

.first_sectionpop,.second-sectionpop {
    float: left;
	border-right:1px solid #e1e1e1;
}
.or-avail2{
	float:left; 
	left: 0;
    padding: 19px 3px 24px!important;
	color: #333;
	font-size:14px;
}
.req-inputWidth{width:165px!important;}
.track-inputWidth{width:auto!important;}

/*-----PNR status page css_--------*/
.pnr-inputwidth{width:275px!important;}
.sub-pnrh {
    font-size: 16px;
    font-weight: 800;
}
/*----PNR status2 page css_--------*/
.tab-head{
	font-size:18px;
	margin:30px 0 15px
}
.PNR-info li{
	max-width:190px;
	height:100px;
}

/*------Station-code page css---*/
.stationcode-bg{
	background: url("https://desktop.travelkhana.com/img/station-codebg.png")no-repeat;
    padding:60px 0;
    background-size: cover;
}
.col-table1,.col-table2 {
    float: left;
    max-width: 50%;
    width: 100%;
	margin-top:40px;
}
.heading-wrap h2 {
    margin-top: 0!important;
}
.heading-mb.paddingTop-25 form#submit_form {
    margin-bottom: 10px!important;
}
/***----aboutus page css-----*/
.about-bg{
background: rgba(0, 0, 0, 0) url("https://desktop.travelkhana.com/img/img1.png") no-repeat scroll center top / cover ;
    height: 240px;
}
.static-heading p{font-size:18px;}
.content-wrap{
	padding:25px 0px;
	
}
.content-wrap p{
	font-size:15px;
	color: #0d3e57;
	margin-top:18px;
	line-height: 1.3;
}
.list-unstyled li {
    line-height: 26px;
}
/**contact page css*/
.pdRight-20{padding-right:20px!important;}
.contact-bg{
	background:url("https://desktop.travelkhana.com/img/contact-bg.png")no-repeat scroll center top / cover ;
    padding: 60px 0;
}
.contact-wrap{
	margin:25px 0px;
	border-right: 1px solid #989898;
	text-align: right;
	
}
.ph-number {
    color: #d51b00;
}
.ph-number:hover,.ph-number:focus{
	text-decoration:none;
	color: #d51b00;
}
.contact-wrap > ul {
   padding: 45px 0px 30px 0px;
}
.contact-wrap ul li{
	font-size:19px;
	color: #0d3e57;
	list-style: outside none none;
    margin-bottom: 25px;
	line-height: 1.3;
}

/*enuke 10 oct 2017*/
.contact-box2 ul li img {
    vertical-align: super;
}
.cont-num{
	display:block;
	margin-top: -5px;
}
.cont-num small{
	display:block;
}
.mrTop-5{
	margin-top:5px!important;
}
.border-cir {
    border: 1px solid;
    border-radius: 50%;
    height: 30px;
    line-height: 1.6;
    text-align: center;
    width: 30px;
}
.contact-box2{
	border-right:0px;
	text-align:left;
	padding-left:0;
	
}
.marker-cir{
    border: 1px solid;
    border-radius: 50%;
    font-size: 35px;
    height: 45px;
    line-height: 1.3;
    text-align: center;
    width: 45px;
	vertical-align: top;
}
.contact-box2 ul li >.cont-num {
display: inline-block!important;
padding-left:7px;
width:70%;
margin:0 auto;
}
/*-----disclaimer page css----*/
.disclaimer-bg{
	background:url("https://desktop.travelkhana.com/img/disclamirbg.png")no-repeat scroll center top / cover ;
	padding: 60px 0;
	
}
/***faq page css*/
.faq-bg{
background:url("https://desktop.travelkhana.com/img/faqbg.png")no-repeat scroll center top / cover ;
padding: 120px 0;

}
.faq-content h2{
	color:#333;
	font-size:25px;
	text-transform:uppercase;
	margin-bottom:20px;
	font-weight: 800;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    
    color: #d51b00;        
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    
}
.panel-main{
	margin-bottom:15px!important;
}
	
.acc-heading{
	 -moz-box-shadow:    inset 0 0 20px #aaa;
   -webkit-box-shadow: inset 0 0 20px #aaa;
   box-shadow:         inset 0 0 20px #aaa;
}
.acc-heading h4{
	font-size:18px;
	text-transform:uppercase;
}
.acc-heading h4 a:hover{ 
  text-decoration:none;
}
.panel-cont{
	font-size: 15px;
    line-height: 1.2;
    box-shadow: 0px 2px 3px;
}
/*----team page css---*/
.team-wrap {
    border: 1px solid #ccc;
    padding: 20px;
}
.team-detail{
	text-align:center;
	 border: 7px solid #ebebeb;
	 padding: 20px;
	 
}
.team-detail span{
	font-size: 13px;
    color: #ccc;
}
.team-detail h2{
	font-size: 45px;
    color: #d51b00;
	margin:0px;
}
.member-des {
   
    padding: 0 7px;
	 margin-top: 40px;
}
.member-des h3{
	font-size:25px;
	border-bottom:1px solid #d51b00;
	display:inline-block;
	 padding: 0 20px 5px;
	text-transform:uppercase;
}
.member-des span{
	display:block;
	text-transform:uppercase;
	font-size:17px;
	color:#333;
	margin-top: 6px;
}
.member-des > p {
    font-size: 15px;
   text-align: justify;
	line-height: 1.4;
	margin-top: 12px;
}
.des-col2{
	 border-left: 1px solid #d51b00;
	  padding-left: 40px;
}
/*------pravicy-policy page css---*/
.policy-bg{
	background: url("https://desktop.travelkhana.com/img/policybg.png")no-repeat scroll center top / cover ;
    padding:60px 0;
}
.policy-list,.sublist{
	line-height:1.4;
	padding:0px;
}
.policy-list > li {
    font-size: 18px;
    font-weight: 500;
	 margin-top: 20px;
}
.sublist li{
	font-size:15px;
	font-weight: 400;
	margin:10px 0px 15px 0px; 
	list-style:none;
}
/*-----terms and condition page css---*/

.condition-bg{
	background: url("https://desktop.travelkhana.com/img/conditionbg.png")no-repeat scroll center top / cover ;
    height: 240px;
}
.no-listStyle {
    list-style: outside none none;
}

/*----------railway-timeTable page responsive css-------*/

@media (max-width: 1200px) {
    .or-text {
        padding: 18px 5px 21px 0;
        position: relative;
    }
    .or span {
        border-radius: 50%;
    }
    .or-trianT {
        position: relative;
    }
    .or-trianT::after,
    .or-trianT::before {
        content: "";
        position: absolute;
        top: 7px;
        background: #dddddd none repeat scroll 0 0;
        height: 1px!important;
        width: 48%!important;
    }
    .avail-seat ul li {
        padding: 15px 2px;
    }
	.dept-tabel > li {max-width:20%;height: 100px;}
	.more-info > li {max-width:25%;}
	.dept-tabel > li span {font-size:11px;}
    .dept-head{padding:19px 7px;}
	.input-width{width:50%;}
	.req-inputWidth{width:165px!important;}
	.track-inputWidth{width:170px!important;}
	.PNR-info > li {max-width: 16.66%;}
	.PNR-info > li >.dept-head { padding: 8px 0 0 10px!important;height:40px!important;}
   
}
@media (max-width: 1199px) and (min-width: 992px){
.mobile-bg .form-group input { width: 100%!important;}
.track-inputWidth{width:170px!important;}
.contact-box2 ul li > .cont-num {width:86%;}



}
@media (max-width: 990px) and (min-width: 768px){
	
    .req-inputWidth,.track-inputWidth{width:165px!important;}
    .req-inputWidth {font-size:16px!important;}
	.contact-box2 ul li > .cont-num {width:75%;}
	.col-table1{margin-top:30px!important;}
	.col-table1,.col-table2 {
   float: none;
    margin: 0 auto;
    max-width: 94%;
    width: 100%;
}
.width-70{width:70%!important;}
.col-table2{margin-top:-20px;}
.colTabel2-head{display:none;}
.des-col2{
	padding-left:0px;
	 /*border-top: 1px solid #d51b00;*/
	  border-left:none;
}

}

@media (max-width: 768px){
.mobile-avail1{ margin-right: -2px!important;}
}



@media(max-width:767px) {
	.back-to-order{
		display:block!important;
	}
    .availability-bg {
        background: #fff none repeat scroll 0 0;
        height: auto;
    }
    .back-to-order > h3 {
        font-size: 16px;
    }
    .heading-wrap {
        padding: 20px 0px;
    }
    .heading-wrap h2 {
        font-size: 16px;
        color: #fff;
    }
    .heading-wrap p {
        font-size: 14px;
    }
    .trainTable-bg,
    .req-callback-bg,.stationcode-bg {
        height: auto;
        background: #fff;
        padding:8px 0;
    }
    .trainTime-bg {
        height: auto!important;
    }

    .mobile-form {
        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
        margin: 0 auto;
        text-align: center;
        max-width: 90%;
		width:100%;
    }
    .mobile-bg >.form-group,.mobile-avail1 >.form-group {
        background: #fff none repeat scroll 0 0;
        border: none!important;
        box-shadow: none!important;
    }
    .heading-mb h2 {
        border-bottom: 1px solid #929292;
        color: #333;
        padding: 20px 14px;
        text-align: left;
    }
    .avail-wrap {
        text-align: justify;
		padding-top:0px;
    }
	.trainTable-wrap,.avail-wrap {
    margin: 0 auto;
    max-width: 90%;
    padding: 0 0 20px;
    width: 100%;
}
.width-95{
    margin: 0 auto;
    max-width: 95%;
}

	.trainTable-wrap p{
		text-align: justify;
		padding:0px 5px;
	}
	.popular-train {
    padding: 0 20px;
    }
    .popular-train > li {
        border-bottom: 1px solid #999a9a;
        padding: 8px 0px;
    }
	.input-warp {
    padding: 0 10px 0 12px;
}
.form-inline >.input-warp >.btn-search {margin-top:-12px!important;}
/*---seatavailability-2 mobile page css---*/

.train-popup{
	display:block;
}
.input-width,.pnr-inputwidth {
    width: 100%!important;
}

/*---seatavailability-2 mobile page css end---*/
.btn-group {margin-top:-12px;}
.btn-arival{
	background:#d51b00;
	width:49%;
	border-radius:0px;
	margin: 5px 0!important;
	font-size:16px;
	padding: 15px 0;
	
}
.btn-dept{
	background:#7d7d7d;
}
.dept-tabel{
	box-shadow:none;
	border:1px solid #b7b7b7;
}
.dept-tabel > li {
	max-width:100%;
	overflow:hidden;
	border:1px solid #dadada;
	height:auto;
}
.dept-tabel > li span {
	width:47%;
	float:right;
}
.dept-head {
	float:left!important;
}




.tab-head{
padding-left:15px;
}
.PNR-info {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
	max-width:95%;
	margin:0 auto;
}
.PNR-info > li > .dept-head {height:auto!important;padding: 15px 10px!important;}
.PNR-wrap{
	margin: 0 auto;
    max-width: 98%;
    padding: 0 0 20px;
    width: 100%;
}
.PNR-wrap>.trainTable-wrap{
	max-width: 98%!important;
}

.next-btn {float:right;}
.dropdown-btn{text-align:center;}
.avail-wrap h3{padding: 0 10px;}


.source-destpopup,.first_sectionpop >.form-group{
	border: none!important;
    box-shadow:none!important;
}
.first_sectionpop,.second-sectionpop {
    float: none;
	border-right:none;
}
.second-sectionpop {display:none;}
.first_sectionpop  >.form-group,.second-sectionpop >.form-group{
	    background: #fff none repeat scroll 0 0;
        border: none!important;
        box-shadow: none!important;
}
.select-class > .form-control {max-width:100%;}
.req-inputWidth,.track-inputWidth{width:100%!important;}
.col-table1,.col-table2 {
   float: none;
    margin: 0 auto;
    max-width: 94%;
    width: 100%;
}
.width-70{width:70%!important;}
.col-table2{margin-top:-15px;}
.colTabel2-head{display:none;}
/*----static page aboutus mobile css-----*/
.static-heading p {
    padding:0px 8px;
    font-size: 15px;
    line-height: 1.2;
	
}
.content-wrap p {text-align:justify;}
.contact-wrap {
    border-bottom:0 none;
	border-right:0px;
    text-align: left;
	margin:15px 0px 10px 0px;
}
.cont-num small {display: inline-block;}
.contact-wrap > ul {padding-left:20px;padding-top: 0;padding-bottom: 0;}
.contact-box2{padding:0px;}
.faq-content h2 {font-size:18px;}
.des-col2{
	padding-left:0px;
	 /*border-top: 1px solid #d51b00;*/
	  border-left:none;
}
}





@media(max-width:480px) {
	.avail-wrap h3 ,.trainTable-wrap h3{font-size: 18px;}
    .avail-seat ul {
        text-align: center;
    }
    .avail-seat ul li {
        max-width: 48%;
        width: 100%;
    }
    .avail-seat ul li:last-child {
        display: none;
        font-size: 12px;
    }
    .avail-seat ul li:nth-child(2n) {
        border: none;
    }
    .avial-num {
        font-size: 12px;
    }
    .class-name li,
    .days li {
        margin: 0px;
    }
	.dept-tabel > li span {width: 43%;}
	.next-btn {float:none;}
	.dept-head {font-size:16px!important;line-height:1.8;}
	.btn-arival{
	background:#d51b00;
	width:100%;
	border-radius:0px;
	margin: 5px 0!important;
	font-size:16px;
}
.btn-dept{background:#7d7d7d;}
.contact-wrap ul li ,.cont-num {font-size:14px;}
	
}


/**************** Delhi to panvel page css *********************/


.delhi-panvel-bg
{
	background: url(https://desktop.travelkhana.com/img/delhi-panvel-bg.png)no-repeat scroll center top / cover;
    padding: 60px 0;
}

.delhi-panvel-content table thead.gray-bg
{
	background:#ebebeb;
}

.delhi-panvel-content table thead tr td
{
	color:#363636;
	font-size:18px;
	font-weight:500;
	text-transform:uppercase;
	padding:8px;
}

.delhi-panvel-content table tbody tr:hover
{
	background:#f3f3f3;
	
}

.delhi-panvel-content table tbody tr:hover .train-name h2
{
	color:#000;
	text-decoration:underline;
	font-weight:600;
	font-size:16px;
}

.delhi-panvel-content table tr td
{
	padding:20px;
}

.train-name h2
{
	font-size:16px;
	font-weight:300;
	color:#666;
	margin:5px 0;
}

.train-origin h4, .train-destination h4
{
	margin:0;
	font-size:18px;
	font-weight:300;
	text-align:center;
	color:#666;
}

.train-origin span.time, .train-destination span.time
{
	color:#ff0000;
	text-align:center;
	display:block;
	font-weight:bold;
}


.train-run ul
{
	margin-bottom:0;
}

.train-run ul li
{
	color:#c4c4c4;
	font-size:14px;
	text-transform:uppercase;
	vertical-align:middle;
}

.train-run ul li.active
{
	color:#666;
}

/*********************Sitemap page css here ********************************/



.sitemap-content
{
	border-width: 1px;
	border-color: rgb(215, 215, 215);
	border-style: solid;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 3px 5.82px 0.18px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 5.82px 0.18px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 5.82px 0.18px rgba(0, 0, 0, 0.15);
	padding:20px;
	margin-top:20px;
    margin-bottom:20px;
}

.site-area
{
	border-width: 10px;
	border-color: rgb(235, 235, 235);
	border-style: solid;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 3px 5.82px 0.18px rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0px 3px 5.82px 0.18px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 0px 3px 5.82px 0.18px rgba(0, 0, 0, 0.15);
}


.sitemap-heading h1
{
	text-align:center;
	font-size:47px;
	color:#ff0000;
	font-family:inherit;
	font-weight:bold;
	text-transform:uppercase;
	margin:8px 0 10px;
}


.sitemap-list ul
{
	margin-bottom:0;
}

.sitemap-list ul li
{
	background-color: #e1e1e1;
	box-shadow: 0px 3px 5.82px 0.18px rgba(0, 0, 0, 0.15);
	padding:18px 36px;
	margin-right:7px;
	margin-bottom:20px;
}

.sitemap-list ul li:hover
{
	background:#c2c2c2;
	cursor:pointer;
}

.sitemap-list ul li a
{
	font-size:18px;
	color:#313131;
	font-weight:bold;
	text-decoration:none;
}


/*Enuke 12 Oct 2017 */

.show-status {
    padding: 40px 0 0;
}

.show-status h2 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 30px;
}

.show-status h2 i {
    color: #7ab900;
}

.status-table h4 {
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    color: #363636;
}

.status-table-detail {
    width: 663px;
    margin: 0 auto;
}

.status-table-detail table {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}

.status-table-detail table thead {
    background: #cccccc;
}

.status-table-detail table thead tr td {
    font-size: 15px;
    color: #363636;
    font-weight: 500;
}


/*Enuke 12 Oct 2017*/


.support_banner_bg{
    background:url("https://desktop.travelkhana.com/img/support_banne.png") no-repeat scroll center top / cover ;
    padding: 100px 0;
    position: relative;
}
.support_banner_bg:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
}
#support_banner .support_banner_bg .travelkhana_text_img{
    z-index:2;
    text-align: center; 
}
#support_banner .support_banner_bg .travelkhana_text_img h2{ 
     font-size: 24px;
    color: #fff;
    margin:0
}



/***************  support content-form  ******/

.content-form{
    padding: 20px;
    width:850px;
    margin: 0 auto;
}
.content-form .star_color{
    color: #d82910;
    font-size:12px;
}
.content-form .form_text label{
    color: #787878;
    font-size: 14px;
    margin-left:10px;
}
.content-form .form_text .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
}
.content-form .form_text .inputfile-1 + label {
    color: #4c4c4c;
    background-color: #d8d8d8;
}
.content-form .form_text .inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 10px 50px;
}
.content-form button.button_color{
    background-color: #d51b00;
    color: #fff;
    padding:10px 120px;
    border-radius: 0px;
    border: 0px;
}
.content-form .form_text input,.dropdown select, .form_text textarea{ 
    border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #e1e1e1;
    padding: 0px 2px;
    box-shadow:none;
    font-size:12px;
    color:#929292;
}
.content-form .form_text .form-control:focus {
    border-color: #ccc;
    box-shadow: none;
}
.content-form .form_text .border-bottom-input{
    background-color: #fff;
    box-shadow: 0px 6px 16px 0px rgba(189, 192, 194, 0.5);
    border: 2px solid #e1e1e1;
    padding: 5px 5px;
}
.content-form .form_text textarea{
    height: 80px;
}
.content-form .submit_btn{
    margin-top: 25px;
    margin-bottom: 15px;
}

.avail2-wrap table thead tr.tabel-head th {
    vertical-align: middle;
}

.avail2-wrap table tbody tr td p {
    margin: 0;
}

.avail2-wrap table tbody tr td {
    white-space: pre-line !important;
    width:112px;
}

.view-dropdown .dropdown-menu {
    position: relative;
    margin-bottom: 28px;
    box-shadow: none;
    border: 0 none;
}


/*enuke 13 Oct 2017*/

.content-wrap .table-responsive .table tr td {
    white-space: pre-line;
}
.input-warp button.btn:focus {
    color: #fff!important;
}
.input-warp button.btn:hover{
    color: #000!important;
}
.content-wrap .table-responsive.delhi-panvel-table .table tr td {
    white-space: initial!important;
}
span.cont-num img {
    height: 50px;
}